﻿@media (min-width: 768px){
    .search-box {
        input[type="text"] {
            display: inline-block;
        }
        .alert{
          display: block;
          color:red;
          margin: 0;
          padding: 0;
        }
    }
}

@media (max-width: 767px) {
  .search-box {
      input[type="text"] {
          display: none;
      }
      .alert{
          display: block;
          color:red;
          margin: 0;
          padding: 0;
      }
    }
}
