﻿@media (min-width: 768px) {
  .search-box input[type="text"] {
    display: inline-block;
  }
}

@media (max-width: 767px) {
  .search-box input[type="text"] {
    display: none;
  }
}

/*# sourceMappingURL=search-box.css.map */