// *** START: Fix for Bootstrap UI CSS and Experience Editor
.scInsertionHandleCenter, .sc-breadcrumb .sc-breadcrumb-item-path, .sc-breadcrumb-item-path img, .scChromeCommand
{
    -webkit-box-sizing: initial;
    -moz-box-sizing: initial;
    box-sizing: initial;
}
.sc-breadcrumb-item-path {
    img {
        vertical-align: initial;
    }
    span {
        font-size: 12px; 
    }
}
.navbar-brand {
    > img {
        display: inline-block;
    }
}
.container {
    width: auto !important;
}
div.btn {
    display: inline-block;
}
.score-megamenu .navbar-brand,
.score-main-menu-spider .navbar-brand {
    float: none;
    height: auto !important;
    display: block;
}
.score-megamenu .navbar-brand > img,
.score-main-menu-spider .navbar-brand > img {
    display: inline !important;
}
.score-megamenu .score-megamenu-content,
.score-main-menu-spider .score-megamenu-content {
    padding: 5px;
}
.score-megamenu .navbar-nav,
.score-main-menu-spider .navbar-nav {
    float: none;
    display: block;
    width: auto;
}
.score-megamenu .navbar-nav > li,
.score-main-menu-spider .navbar-nav > li {
    float: none !important;
    display: block;
}
.score-megamenu .navbar-nav.nav.navbar-left > li,
.score-main-menu-spider .navbar-nav.nav.navbar-left > li {
    float: left !important;
}
.score-megamenu .navbar-nav.nav.navbar-right > li,
.score-main-menu-spider .navbar-nav.nav.navbar-right > li {
    float: right !important;
}
.score-megamenu a.dropdown-toggle.toggle-caret,
.score-main-menu-spider a.dropdown-toggle.toggle-caret {
    display: inline;
    padding-left: 0px;
}
.form-group .pseudo-textbox {
    width: 90%;
    font-size: 16px;
    padding: 6px 12px;
    border: 1px solid #ccc;
    -ms-border-radius: 4px;
    border-radius: 4px;
}
.form-group .pseudo-textbox span.label {
    font-size: 16px;
    color: #999;
    padding-left: 0;
}
.form-group span.label {
    font-size: 16px;
    color: #999;
    padding-left: 0;
}
.form-group .error-message span {
    color: #f00;
}
.score-pe.panel {
    background-color: inherit;
    border-radius: 0;
}
.score-pe.panel > .panel-heading {
    padding: 2px;
    background-color: rgba(220, 220, 220, 0.6);
    border-radius: 0;
}
.score-pe.panel > .panel-heading > .panel-title {
    font-size: 12px;
    color: #333333;
    font-family: Tahoma;
}
.score-pe.panel > .panel-heading > .panel-title > span.glyphicon {
    font-size: 12px;
    margin-right: 2px;
    color: #222222;
}
.score-pe.panel > .panel-heading > .panel-title > span.score-pe-component-type {
    color: #225599;
    font-weight: bold;
    margin-right: 2px;
}
.score-pe.panel > .panel-body {
    padding: 0;
    margin: 0;
}
.score-pe.panel > .panel-body > div,
.score-pe.panel > .panel-body > nav,
.score-pe.panel > .panel-body > span {
    padding: 6px;
}
.btn-group {
    min-width: 200px;
}
.nav > li > span > a {
    position: relative;
    display: block;
    padding: 10px 15px;
}
.score-variable > .score-variable-row > .score-variable-column {
    min-width: 200px;
}
.score-editFields {
    padding: 8px;
}
.score-editField {
    font-size: 14px;
    margin-right: 20px;
    white-space: nowrap;
}
.score-editField > label {
    color: #fff;
    text-shadow: 0 0 4px #000;
}
.score-editField > img {
    border: solid 2px #4195fc;
    -webkit-box-shadow: 0 0 4px #4195fc;
    -moz-box-shadow: 0 0 4px #4195fc;
    box-shadow: 0 0 4px #4195fc;
}
.score-youtube-video {
    min-height: 300px;
    &.embed-responsive-16by9 {
        padding-bottom: 0 !important;
    }
}
.score-button-toolbar, .score-button-group, .score-alert {
    min-width: 100px;
}
.score-button-toolbar > div {
    float: none;
}
.score-location {
    .score-editField {
        white-space: pre-line;
        word-wrap: break-word;
    }
    &.pe-map-placeholder-text {
        font-size: 78px;
        color: gray;
        text-align: center;
        vertical-align: middle;
        font-weight: bold;
        font-style: italic;
        border: solid 1px gray;
        padding-top: 142px;
    }
}
.google-map-pin {
    float: left;
    width: 300px;
    margin: 20px;
    padding: 0 20px;
    border: 1px solid #ddd;
}

.pe-editable-field {
    border: 1px dashed;
}
div.pe-editable-field {
    display: inline-block;
    padding-right: 15px;
}
// *** END
.location-map {
    text-align: center;
    .pe-editable-field {
        color: white;
        margin-bottom: 10px;
        display: inline-block;
    }
    .btn-white {
        background-color: white;
        .pe-editable-field {
            color: #595959;
        }
    }
    a.pe {
        .pe-editable-field {
            white-space: nowrap;
            overflow: hidden;
            -ms-text-overflow: ellipsis;
            -o-text-overflow: ellipsis;
            text-overflow: ellipsis;
            max-width: 150px;
            display: inline-flex;
        }
    }
}
.pe-editable-drop-down-block {
    border: solid 1px #f08080;
    background-color: #fffacd;
    border-radius: 5px;
    padding: 5px;
    margin: 0 5px;
    display: none;
    width: 625px;
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        li {
            vertical-align: middle;
            display:flex;;
            .label {
                font-style: italic;
                width: 300px;
                display: inline-block;
                color: #1d2a65;
                text-align: left;
                font-size: 12px;
                font-weight: normal;
            }
            .pe-editable-field {
                font-weight: bold;
                font-style: normal;
                color: #1d2a65;
                &.multyline {
                    max-height: 25px;
                    max-width: 300px;
                    overflow: hidden;
                    white-space: nowrap;
                    display: inline-flex;
                    -ms-text-overflow: ellipsis;
                    -o-text-overflow: ellipsis;
                    text-overflow: ellipsis;
                }
            }
        }
        
        
    }
    
}
.pe-editable-show-hide {
    margin: 0 5px;
}
.error {
    font-weight: bold;
    color: #d50909;
}
.pe {
    .label {
        font-style: italic;
    }
}

.pe-input-replacer {
    width: 100%;
    height: 30px;
    padding: 5px 10px;
    border: 1px solid #c4c4c4;
    border-radius: 3px;
    color: #c4c4c4;
    .pe-editable-field {
        border-color: #595959;
    } 
}

.score-carousel-pane {
    &::after {
        display: none;
    }
    &.carousel-pane-dark {
        .score-section-hero {
            h2, h3, .score-hero-body {
                color: black;
            }
        }
    }
}

.inline {
    display: inline;
}
.pe-input-btn-red {
    position: relative;
    width: 32px;
    height: 32px;
    border: 1px solid #bf1e40;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    background: #bf1e40 url(../img/search_icon.png) center no-repeat;
    background-size: 18px;
}

.btn-link.white {
    a {
        color: white;
    }
}

.score-highlight {
    & > img {
        width: auto;
        max-width: 500px;
    }
    &.highlight-blue-overlay {
        .caption {
            h2 {
                position: relative;
                left: inherit;
                right: inherit;
                bottom: inherit;
                &::after {
                    display: none;
                }
            }
            .score-button {
                position: relative;
                top: inherit;
                left: inherit;
                right: inherit;
                bottom: inherit;
                text-indent: inherit;
            }
        }
    }
}

.thumbnail-slider-pe {
    overflow: hidden;
    .score-highlight {
        float: left;
        width: 25%;
        padding: 5px;
        .score-button {
            position: relative;
        }
        & > img {
            max-width: 100%;
        }
    }
}

.addthis_32x32_style.at4-show {
    display: none !important;
}

h4.title {
    font-weight: bold;
    display: block;
    font-size: 100%;
    text-align: left;
    border: none;
    margin: 5px 0;
    padding: 0;
    color: #595959;
}
.label {
    color: #595959;
}
// 
.carousel-with-bottom-text {
	.score-style-box {
		.score-button {
			position: relative;
		}
	}
}