﻿@using AutoMapper
@using DeKalbMedical.Data
@using DeKalbMedical.Data.DTO.DataPart
@using DeKalbMedical.Web.Areas.DeKalbMedical.Models.GeoLocation
@using DeKalbMedical.Web.Extensions
@using Score.UI.CCF
@model DmpgLocationMapRenderingModel
@{
    Html.EnableClientValidation();
    Html.EnableUnobtrusiveJavaScript(true);
    bool isExpEtrWithDs = Model.HasDatasource && Sitecore.Context.PageMode.IsExperienceEditorEditing;
    Mapper.CreateMap<OptionsListItem, SelectListItem>();

    var categoryList = new List<SelectListItem> { new SelectListItem { Text = Model.Datasource.CategoryPlaceholderText, Value = "all" } };
    categoryList.AddRange(Mapper.Map<IEnumerable<OptionsListItem>, List<SelectListItem>>(Model.Datasource.DmpgOptionsList.OrderBy(x => x.Order)));
    foreach (var item in categoryList.Where(item => item.Value.Equals(Model.Datasource.DefaultDmpg.Replace(" ", "").ToLower())))
    {
        item.Selected = true;
    }

    var radiusList = new List<SelectListItem> { new SelectListItem { Text = Model.Datasource.RangePlaceholderText, Value = "-1" } };
    radiusList.AddRange(Mapper.Map<IEnumerable<OptionsListItem>, List<SelectListItem>>(Model.Datasource.RangesOptionsList.OrderBy(x => x.Order)));
    foreach (var item in radiusList.Where(item => item.Value.Equals(Model.Datasource.DefaultRange.OnlyDigits())))
    {
        item.Selected = true;
    }
}
@if (!Model.HasDatasource && Sitecore.Context.PageMode.IsExperienceEditorEditing)
{
    <div class="error">WARNING: DMPG location map component has no datasource!</div>
}
else
{
    using (Html.BeginUXModule("dekalbmedical/Components/DmpgLocationMap", new
    {
        perPage = Model.Datasource.ResultsPerPage,
        zoom = Model.Datasource.ZoomValue,
        pleaseEnterZipCode = Model.Datasource.PleaseEnterZipCode,
        resultsErrorMessage = Model.Datasource.ResultsErrorMessage,
        isExperienceEditor = isExpEtrWithDs,
        googleMapApiKey = Model.GoogleMapApiKey
    }))
    {
        if (isExpEtrWithDs)
        {
            <a class="pe-editable-show-hide" href="javascript:void(0)">Show</a>
            <div class="pe-editable-drop-down-block">
                <ul>
                    <li>@Html.PeField("The Google map zoom value (1 - 20)", Consts.Fields.ZoomValueField)</li>
                    <li>@Html.PeField("List of DMPGs", Consts.Fields.DmpgOptionsListField, null, " multyline")</li>
                    <li>@Html.PeField("Default DMPG", Consts.Fields.DefaultDmpgField)</li>
                    <li>@Html.PeField("Default Zip Code", Consts.Fields.DefaultZipField)</li>
                    <li>@Html.PeField("List of Ranges", Consts.Fields.RangesOptionsListField, null, " multyline")</li>
                    <li>@Html.PeField("Default Range", Consts.Fields.DefaultRangeField)</li>
                    <li>@Html.PeField("Found results per page", Consts.Fields.ResultsItemsPerPageField)</li>
                    <li>@Html.PeField("Message when Range selected but Zip Code doesn't", Consts.Fields.PleaseEnterZipCodeField)</li>
                    <li>@Html.PeField("The message text for no results", Consts.Fields.ResultsErrorMessageField, null, " multyline")</li>
                    <li><span class="label">Zip Code format error:</span><span class="pe-editable-field">@Html.EditableValidationMessageFor(m => m.Zip)</span></li>
                </ul>
            </div>
        }

        <div class="location-map dmpg">
            <form class="dmpg-search">
                <div class="form-group">
                    <label for="category">@Html.Ternary(Consts.Fields.CategoryLabelField, Model.Datasource.CategoryLabel)</label>
                    @Html.TernaryDropDown(Consts.Fields.CategoryPlaceholderTextField, "Categories", categoryList, new { id = "category", @class = "selectpicker", data_style = "btn-white" }, " btn-white")
                </div>
                <div class="form-group">
                    <label for="Zip">@Html.Ternary(Consts.Fields.ZipLabelField, Model.Datasource.ZipLabel)</label>
                    @Html.TernaryInputTextFor(Consts.Fields.ZipPlaceholderTextField, m => m.Zip, new { id = "Zip", @maxlength = "5", placeholder = Model.Datasource.ZipPlaceholderText, @Value = Model.Datasource.DefaultZip, autocorrect = "off", autocapitalize = "off" }, " inline btn-white")
                    <button id="findWithZip" class="pe-input-btn-red"><span class="glyphicon"></span></button>
                    @if (!isExpEtrWithDs) {@Html.EditableValidationMessageFor(m => m.Zip)}
                </div>
                <div class="form-group">
                    <label for="range">@Html.Ternary(Consts.Fields.RangeLabelField, Model.Datasource.RangeLabel)</label>
                    @Html.TernaryDropDown(Consts.Fields.RangePlaceholderTextField, "Radiuses", radiusList, new { id = "range", @class = "selectpicker", data_style = "btn-white" }, " btn-white")
                </div>
                @if (!isExpEtrWithDs)
                {
                    @Html.Hidden("CategoryPath", Model.Datasource.DmpgCategoriesPath)
                }
                @Html.ValidationSummary(false)
            </form>

            <div id="map" class="score-location pe-map-placeholder-text hidden-xs">@Html.Ternary(Consts.Fields.EmptyMapPlaceholderTextField, null)</div>
            @if (!isExpEtrWithDs) { <div id="mapEmpty" class="score-location placeholder-text hidden-xs">@Html.Raw(Model.Datasource.EmptyMapPlaceholderText)</div> }
        </div>
        @Html.Sitecore().Field(Consts.Fields.MarkerField, new { style = "display:none", @class = "marker-img" })
        @Html.Sitecore().Field(Consts.Fields.DefaultPopupImageField, new { style = "display:none", @class = "default-popup-img" })
        if (!isExpEtrWithDs)
         {
             <div class="results dmpg-location-listing">
                 <div class="score-section-header"></div>
                 <p class="results"></p>
                 <div id="results" class="result-list"></div>
                 <div id="pager"></div>
             </div>
         }
        <script type="text/template" id="gmap-pin-popup-template">
            <div class="content dekalb">
                <div id="image">
                    <img src="<%- imageSrc %>">
                </div>
                <a href="<%- url %>" id="locationLink"><%- name %></a>
                <div id="bodyContent" class="info-body">
                    <p><span id="address"> <%- address %></span><% if(phone !== ""){ %><br>Ph: <span id="phone"><%- phone %></span><% } %><br></p>
                </div>
                <a href="<%- getDirectionsLink %>" id="getDirections">Get Directions</a>
            </div>
        </script>
        <script type="text/template" id="results-title-template">
            <h2><%- selectedMenu %> <% if(selectedMenu.toLowerCase() !== "partnered physicians"){ %>Locations <% } %></h2>
        </script>
        <script type="text/template" id="results-summary-template">
            (
            <span><%- totalResults %></span> results )
        </script>
        <script type="text/template" id="results-pager-template">
            <ul class="pagination">
                <% _.each( items , function( item ){ %>
                <li class="<%- item.btnClass %>"><a href="#" data-dt-idx="<%- item.button %>"><%- item.btnDisplay %></a></li> <% }); %>
            </ul>
        </script>
        <script type="text/template" id="results-pager-template">
            <span class="alert"><%- message %></span>
        </script>
        <script type="text/template" id="site-search-template">
            <% _.each( items , function( item ){ %>
            <div class="location">
                <% if(item.Url !== ""){ %><a href="<%- item.Url %>" class="location-name"><%- item.Name %></a><% } else { %><span class="location-name"><%- item.Name %></span><% } %>
                <p>
                    <% if(item.AddressFirst !== ""){ %> <%- item.AddressFirst %> <% } %>
                    <% if(item.AddressSecond !== ""){ %> <%- item.AddressSecond %><br> <% } %>
                    <% if(item.City !== ""){ %> <%- item.City %> <% } %>
                    <% if(item.State !== "N/A"){ %> <%- item.State %> <% } %>
                    <% if(item.Zip !== ""){ %> <%- item.Zip %><br> <% } %>
                    <% if(item.DirectionsLink !== ""){ %> <a href="<%- item.DirectionsLink %>" class="hidden-xs">Get Directions</a> <% } %>
                    <% if(item.DirectionsLinkMobile !== ""){ %> <a href="<%- item.DirectionsLinkMobile %>" class="visible-xs">Get Directions</a> <% } %>
                    <% if(item.Phone !== ""){ %> Phone: <%- item.Phone %><br> <% } %>
                    <% if(item.Fax !== ""){ %> Fax: <%- item.Fax %> <% } %>
                </p>
            </div>
            <% }); %>
        </script>
    }
}
