﻿@using DeKalbMedical.Data
@using DeKalbMedical.Web.Areas.DeKalbMedical.Models.GeoLocation
@using DeKalbMedical.Web.Extensions
@using Score.UI.CCF
@model MainLocationMapRenderingModel
@{
    bool isExpEtrWithDs = Model.HasDatasource && Sitecore.Context.PageMode.IsExperienceEditorEditing;
}
@if (!Model.HasDatasource && Sitecore.Context.PageMode.IsExperienceEditorEditing)
{
    <div class="error">WARNING: Main location map component has no datasource!</div>
}
else
{
    if (isExpEtrWithDs)
    {
        using (Html.BeginUXModule("dekalbmedical/Components/MainLocationMap", new
        {
            isExperienceEditor = true
        }))
        {
            <a class="pe-editable-show-hide" href="javascript:void(0)">Show</a>
            <div class="pe-editable-drop-down-block">
                <ul>
                    <li>@Html.PeField("The number of default button (1 - 3)", Consts.Fields.DefaultButtonNumberField)</li>
                    <li>@Html.PeField("The Google map zoom value (1 - 20)", Consts.Fields.ZoomValueField)</li>
                </ul>
            </div>
            <div class="location-map">
                <div id="map" class="score-location pe-map-placeholder-text">The map will be here</div>
                @Html.Ternary(Consts.Fields.TextForMobileViewField, Model.Datasource.TextForMobileView)
                <div class="map-buttons score-center-text">
                    @Html.Sitecore().DynamicPlaceholder("MainLocationMap")
                </div>
            </div>
        }

    }
    else
    {
        using (Html.BeginUXModule("dekalbmedical/Components/MainLocationMap", new
        {
            defaultButtonNumber = Model.Datasource.DefaultButtonNumber,
            zoom = Model.Datasource.ZoomValue,
            isExperienceEditor = false,
            googleMapApiKey = Model.GoogleMapApiKey
        }))
        {
            <div class="location-map">
                <div id="map" class="score-location hidden-xs"></div>
                <span class="visible-xs" style="color: white">@Html.Ternary(Consts.Fields.TextForMobileViewField, Model.Datasource.TextForMobileView)</span>
                <div class="map-buttons score-center-text">
                    @Html.Sitecore().DynamicPlaceholder("MainLocationMap")
                </div>
            </div>
    
            @Html.Sitecore().Field(Consts.Fields.MarkerField, new { style = "display:none", @class = "marker-img" })
            <script type="text/template" id="gmap-pin-popup-template">
                <div class="content dekalb">
                    <div id="image">
                        <img src="<%- imageSrc %>">
                    </div>
                    <a href="<%- url %>" id="locationLink"><%- name %></a>
                    <div id="bodyContent" class="info-body">
                        <p><span id="address"> <%- address %></span><br>Ph: <span id="phone"><%- phone %></span><br></p>
                    </div>
                    <a href="<%- getDirectionsLink %>" id="getDirections">Get Directions</a>
                </div>
            </script>
        }
    }
}