﻿@using DeKalbMedical.Data
@using DeKalbMedical.Web.Extensions
@model RenderingModel

@if (Sitecore.Context.PageMode.IsExperienceEditorEditing)
{
    <a href="#" class="score-button active pe">
        @Html.PeField("Text", Consts.Fields.ButtonTextField)
        <br/>
        @Html.PeField("Pin", Consts.Fields.GeoLocationField)
        <br/>
        @Html.PeField("Place Name (optional)", Consts.Fields.GeolocationPlaceNameField)
    </a>
}
else
{
    <a href="javascript:void(0)" class="score-button" data-type="geolocation-pin" data-geolocation="@Html.Sitecore().Field(Consts.Fields.GeoLocationField)" data-placename="@Html.Sitecore().Field(Consts.Fields.GeolocationPlaceNameField)">
        @Html.Sitecore().Field(Consts.Fields.ButtonTextField)
    </a>
}