﻿@using DeKalbMedical.Web.Areas.DeKalbMedical.Models.Doctors
@using DeKalbMedical.Web.Extensions
@model DoctorDetailsRenderingModel
@if (Sitecore.Context.PageMode.IsExperienceEditorEditing || !string.IsNullOrWhiteSpace(Model.InsuranceAccepted))
{
    <p>
        <h4 class="title">@Html.Ternary(Model.InsuranceAcceptedLabelFieldName, Model.InsuranceAcceptedLabel, this.Model.PageItem)</h4>
        @Html.CustomListField(Model.InsuranceAcceptedFieldName, this.Model.PageItem, new { Display = "Name" })
    </p>
}