﻿@using DeKalbMedical.Web.Areas.DeKalbMedical.Models.Doctors
@using DeKalbMedical.Web.Extensions
@model DoctorDetailsRenderingModel

@{
    var residencies = Model.Residencies != null ? Model.Residencies.ToList() : null;
    var educations = Model.Educations != null ? Model.Educations.ToList() : null; ;
    var fellowships = Model.Fellowships != null ? Model.Fellowships.ToList() : null;
}

@if (Sitecore.Context.PageMode.IsExperienceEditorEditing || !string.IsNullOrWhiteSpace(Model.Specialties))
{
    <p>
        <h4 class="title">@Html.Ternary(Model.SpecialtiesLabelFieldName, Model.SpecialtiesLabel, this.Model.PageItem)</h4>
        @Html.CustomListField(Model.SpecialtiesFieldName, this.Model.PageItem, new { Display = "Name" })
    </p>
}

@if (Sitecore.Context.PageMode.IsExperienceEditorEditing || !string.IsNullOrWhiteSpace(Model.AreasOfInterest))
{
    <p>
        <h4 class="title">@Html.Ternary(Model.AreaOfInterestsLabelFieldName, Model.AreaOfInterestsLabel, this.Model.PageItem)</h4>
        @Html.CustomListField(Model.AreasOfInterestFieldName, this.Model.PageItem, new { Display = "Name" })
    </p>
}

@if (Sitecore.Context.PageMode.IsExperienceEditorEditing || !string.IsNullOrWhiteSpace(Model.Certifications))
{
    <p>
        <h4 class="title">@Html.Ternary(Model.CertificationsLabelFieldName, Model.CertificationsLabel, this.Model.PageItem)</h4>
        @Html.TernaryPeDiv(Model.CertificationsFieldName, Model.Certifications, this.Model.PageItem)
    </p>
}

@if (Sitecore.Context.PageMode.IsExperienceEditorEditing || !string.IsNullOrWhiteSpace(Model.Licenses))
{
    <p>
        <h4 class="title">@Html.Ternary(Model.LicensesLabelFieldName, Model.LicensesLabel, this.Model.PageItem)</h4>
        @Html.TernaryPeDiv(Model.LicensesFieldName, Model.Licenses, this.Model.PageItem)
    </p>
}

@if (Sitecore.Context.PageMode.IsExperienceEditorEditing || !string.IsNullOrWhiteSpace(Model.Awards))
{
    <p>
        <h4 class="title">@Html.Ternary(Model.AwardsLabelFieldName, Model.AwardsLabel, this.Model.PageItem)</h4>
        @Html.TernaryPeDiv(Model.AwardsFieldName, Model.Awards, this.Model.PageItem)
    </p>
}

@if (Sitecore.Context.PageMode.IsExperienceEditorEditing || !string.IsNullOrWhiteSpace(Model.Publications))
{
    <p>
        <h4 class="title">@Html.Ternary(Model.PublicationsLabelFieldName, Model.PublicationsLabel, this.Model.PageItem)</h4>
        @Html.TernaryPeDiv(Model.PublicationsFieldName, Model.Publications, this.Model.PageItem)
    </p>
}

@if (Sitecore.Context.PageMode.IsExperienceEditorEditing || !string.IsNullOrWhiteSpace(Model.Community))
{
    <p>
        <h4 class="title">@Html.Ternary(Model.CommunityLabelFieldName, Model.CommunityLabel, this.Model.PageItem)</h4>
        @Html.TernaryPeDiv(Model.CommunityFieldName, Model.Community, this.Model.PageItem)
    </p>
}

@if (Sitecore.Context.PageMode.IsExperienceEditorEditing || (educations != null && educations.Any()))
{
    <p>
        <h4 class="title">@Html.Ternary(Model.EducationLabelFieldName, Model.EducationLabel, this.Model.PageItem)</h4>
        @if (educations != null)
        {
            <ul>
            @foreach (var education in educations)
            {
                <li>@Html.Ternary(education.YearFieldName, education.Year, education.RenderingItem)<text>,</text>

                @Html.Ternary(education.InstitutionNameFieldName, education.InstitutionName, education.RenderingItem)</li>
            }
            </ul>
        }

        @Html.Sitecore().DynamicPlaceholder("Educations")
    </p>
}

@if (Sitecore.Context.PageMode.IsExperienceEditorEditing || (residencies != null && residencies.Any()))
{
    <p>
        <h4 class="title">@Html.Ternary(Model.ResidencyLabelFieldName, Model.ResidencyLabel, this.Model.PageItem)</h4>
        @if (residencies != null)
        {
            <ul>
            @foreach (var residency in residencies)
            {
                <li>@Html.Ternary(residency.YearFieldName, residency.Year, residency.RenderingItem)<text>,</text>

                @Html.Ternary(residency.InstitutionNameFieldName, residency.InstitutionName, residency.RenderingItem)</li>
            }
            </ul>
        }
        @Html.Sitecore().DynamicPlaceholder("Residencies")
    </p>
}

@if (Sitecore.Context.PageMode.IsExperienceEditorEditing || (fellowships != null && fellowships.Any()))
{
    <p>
        <h4 class="title">@Html.Ternary(Model.FellowshipLabelFieldName, Model.FellowshipLabel, this.Model.PageItem)</h4>
        @if (fellowships != null)
        {
            <ul>
            @foreach (var fellowship in fellowships)
            {
                <li>@Html.Ternary(fellowship.YearFieldName, fellowship.Year, fellowship.RenderingItem)<text>,</text>

                @Html.Ternary(fellowship.InstitutionNameFieldName, fellowship.InstitutionName, fellowship.RenderingItem)</li>
            }
            </ul>
        }
        @Html.Sitecore().DynamicPlaceholder("Fellowships")
    </p>
}

@if (Sitecore.Context.PageMode.IsExperienceEditorEditing || !string.IsNullOrWhiteSpace(Model.Facilities))
{
    <p>
        <h4 class="title">@Html.Ternary(Model.HospitalAffiliationsLabelFieldName, Model.HospitalAffiliationsLabel, this.Model.PageItem)</h4>
        @Html.CustomListField(Model.FacilitiesNameFieldName, this.Model.PageItem, new { Display = "Name" })
    </p>
}

@if (Sitecore.Context.PageMode.IsExperienceEditorEditing || !string.IsNullOrWhiteSpace(Model.LanguagesSpoken))
{
    <p>
        <h4 class="title">@Html.Ternary(Model.LanguagesLabelFieldName, Model.LanguagesLabel, this.Model.PageItem)</h4>
        @Html.CustomListField(Model.LanguagesSpokenFieldName, this.Model.PageItem, new { Display = "Name" })
    </p>
}
