﻿@using DeKalbMedical.Web.Areas.DeKalbMedical.Models.Doctors
@using DeKalbMedical.Web.Extensions
@using Score.UI.CCF
@model DoctorDetailsRenderingModel
@using (Html.BeginUXModule("dekalbmedical/Components/DoctorDetails", new { isExperienceEditor = Sitecore.Context.PageMode.IsExperienceEditorEditing }, new { @class = "doctor-details" }))
{
    <div class="score-document-header">
        <h1>
            @Html.Ternary(Model.FirstNameFieldName, Model.FirstName)

            @Html.Ternary(Model.MiddleInitialFieldName, Model.MiddleInitial)

            @Html.Ternary(Model.LastNameFieldName, Model.LastName)

            @Html.Ternary(Model.SuffixFieldName, Model.Suffix),

            @Html.Sitecore().Field(Model.DegreeTitlesFieldName, new {Display = "Name"})
        </h1>

        @Html.Sitecore().Field(Model.PhotoFieldName)
        
    </div>

    <p class="score-lead">@Html.Sitecore().Field(Model.SpecialtiesFieldName, new { Display = "Name" })</p>
    if (Sitecore.Context.PageMode.IsExperienceEditorEditing)
    {
        @Html.PeField("Website label:", Model.WebsiteLabelFieldName, Model.RenderingItem)
        @Html.PeField("Website URL:", Model.WebsiteField, Model.RenderingItem)
    }
    else
    {
        if (!string.IsNullOrEmpty(Model.RenderingItem.Fields[Model.WebsiteField].Value))
        {
            @(Model.Website)
            <text>-</text>
            @Html.Sitecore().Field(Model.WebsiteField)
        }
    }

    <h4>@Html.Ternary(Model.OfficeLocationsLabelFieldName, Model.OfficeLocationsLabel)</h4>

    if (Model.Offices != null)
    {
        foreach (var office in Model.Offices)
        {
            if (office.Location == null)
            {
                continue;
            }
            <div class="location">
                <p>
                    <strong>@Html.Ternary(office.OfficeNameFieldName, office.OfficeName)</strong>

                    @if (Sitecore.Context.PageMode.IsExperienceEditorEditing)
                    {
                        <text>Primary:</text>
                        @Html.Sitecore().Field(office.PrimaryOfficeFieldName, office.RenderingItem, new { Display = "Checkbox" })
                    }
                    else
                    {
                        if (office.PrimaryOffice)
                        {
                            @Html.Ternary(Model.PrimaryOfficeLabelFieldName, Model.PrimaryOfficeLabel)
                        }
                    }

                    <br />
                    @Html.Ternary(office.Location.Address1FieldName, office.Location.Address1, office.Location.RenderingItem)<br />
                    @if (Sitecore.Context.PageMode.IsExperienceEditorEditing || !string.IsNullOrWhiteSpace(office.Location.Address2))
                    {
                        @Html.Ternary(office.Location.Address2FieldName, office.Location.Address2, office.Location.RenderingItem)<br />
                    }
                    @Html.Ternary(office.Location.CityFieldName, office.Location.City, office.Location.RenderingItem),

                    @Html.Sitecore().Field(office.Location.StateFieldName, office.Location.RenderingItem, new { Display = "Name" })

                    @Html.Ternary(office.Location.ZipFieldName, office.Location.Zip, office.Location.RenderingItem)<br />

                    @Html.Ternary(office.Location.AdminPhoneLabelFieldName, office.Location.AdminPhoneLabel, office.Location.RenderingItem):
                    @if (!string.IsNullOrEmpty(office.OfficePhone))
                    {
                        @office.OfficePhone;
                    }
                    else
                    {
                        @Html.Ternary(office.Location.AdminPhoneFieldName, office.Location.AdminPhone, office.Location.RenderingItem)
                    }
                    <br />
                    @Html.Ternary(office.Location.AlternatePhoneLabelFieldName, office.Location.AlternatePhoneLabel, office.Location.RenderingItem):
                    @Html.Ternary(office.Location.AlternatePhoneFieldName, office.Location.AlternatePhone, office.Location.RenderingItem)<br />

                    @if (Sitecore.Context.PageMode.IsExperienceEditorEditing || !string.IsNullOrWhiteSpace(office.Location.Address2))
                    {
                        @Html.Ternary(office.Location.FaxFieldLabelName, office.Location.FaxLabel, office.Location.RenderingItem)<text>:</text>
                        @(Html.Ternary(office.Location.FaxFieldName, office.Location.Fax, office.Location.RenderingItem))
                    }
                </p>
                @if (Sitecore.Context.PageMode.IsExperienceEditorEditing)
                {
                    <a class="pe-editable-show-hide" href="javascript:void(0)">Show</a>
                    <div class="pe-editable-drop-down-block">
                        <ul>
                            <li>@Html.PeField("Website label:", office.Location.WebsiteFieldLabelName, office.Location.RenderingItem)</li>
                            <li>@Html.PeField("Website link:", office.Location.WebsiteFieldName, office.Location.RenderingItem)</li>
                            <li>@Html.PeField("Directions Label:", office.Location.MapsAndDirectionsFieldLabelName, office.Location.RenderingItem)</li>
                            <li>@Html.PeField("Directions Url:", office.Location.DirectionUrlFieldName, office.Location.RenderingItem)</li>
                            <li><p>Services:</p> @Html.Sitecore().Field(office.Location.ServicesFieldName, office.Location.RenderingItem, new { Display = "Name" })</li>
                            <li><p>Geo location:</p> @Html.Sitecore().Field(office.Location.GeoLocationFieldName, office.Location.RenderingItem)</li>
                        </ul>
                    </div>
                }
                else
                {
                    if (!string.IsNullOrEmpty(office.Location.Website))
                    {
                        <a href="@(office.Location.Website)">@(office.Location.WebsiteLabel)</a>
                    }

                    var fullAddress = string.Concat(office.Location.Address1, " ", office.Location.Address2, " ", office.Location.City, " ", office.Location.State, " ", office.Location.City);
                    <a href="@(office.Location.DirectionsUrl)@(fullAddress)">@(office.Location.MapsDirectionsLabel)</a>
                }
            </div>
        }
    }
    @Html.Sitecore().DynamicPlaceholder("Offices")
}