﻿@using DeKalbMedical.Web.Extensions
@model RenderingModel

@if (Sitecore.Context.PageMode.IsExperienceEditorEditing)
{
    <div class="pe-editable-drop-down-block" style="display: block;">
        <ul>
            <li>
                @Html.PeField("Office ID", "Office ID")
            </li>
            <li>
                @Html.PeField("Office Name", "Office Name")
            </li>
            <li>
                Location: @Html.Sitecore().Field("Location", new { Display = "Name" })
            </li>
            <li>@Html.PeField("Office Phone", "Office Phone")</li>
            <li>@Html.PeField("Office Fax", "Office Fax")</li>
            <li>@Html.PeField("Office Hours", "Office Hours")</li>
            <li>@Html.PeField("Email Address", "Email Address")</li>
            <li>Accepting New Patients: @Html.Sitecore().Field("Accepting New Patients", new { Display = "Checkbox" })</li>
            <li>Primary Office: @Html.Sitecore().Field("Primary Office", new { Display = "Checkbox" })</li>
        </ul>
    </div>
}
