﻿@using AutoMapper
@using DeKalbMedical.Data
@using DeKalbMedical.Data.DTO.DataPart
@using DeKalbMedical.Web.Areas.DeKalbMedical.Models.Forms
@using DeKalbMedical.Web.Extensions
@using Score.UI.CCF

@model DoctorSearchRenderingModel

@{
    Html.EnableClientValidation();
    Html.EnableUnobtrusiveJavaScript(true);

    bool isExpEtrWithDs = Model.HasDatasource && Sitecore.Context.PageMode.IsExperienceEditorEditing;
    List<SelectListItem> specialtyList = null, languageList = null, genderList = null, locationsList = null, cityList = null, radiusList = null, insuranceList = null, insurancePlanList = null;
    if (!isExpEtrWithDs)
    {
        Mapper.CreateMap<OptionsListItem, SelectListItem>();

        specialtyList = new List<SelectListItem> { new SelectListItem { Text = Model.Datasource.SpecialtyPlaceholderText, Value = "-1" } };
        specialtyList.AddRange(Mapper.Map<IEnumerable<OptionsListItem>, List<SelectListItem>>(Model.Datasource.SpecialitiesOptionsList.OrderBy(x => x.Order)));

        languageList = new List<SelectListItem> { new SelectListItem { Text = Model.Datasource.LanguagePlaceholderText, Value = "-1" } };
        languageList.AddRange(Mapper.Map<IEnumerable<OptionsListItem>, List<SelectListItem>>(Model.Datasource.LanguagesOptionsList.OrderBy(x => x.Order)));

        genderList = new List<SelectListItem> { new SelectListItem { Text = Model.Datasource.GenderPlaceholderText, Value = "-1" } };
        genderList.AddRange(Mapper.Map<IEnumerable<OptionsListItem>, List<SelectListItem>>(Model.Datasource.GendersOptionsList.OrderBy(x => x.Order)));

        locationsList = new List<SelectListItem> { new SelectListItem { Text = Model.Datasource.AffiliatedLocationPlaceholderText, Value = "-1" } };
        locationsList.AddRange(Mapper.Map<IEnumerable<OptionsListItem>, List<SelectListItem>>(Model.Datasource.FacilitiesOptionsList.OrderBy(x => x.Order)));

        cityList = new List<SelectListItem> { new SelectListItem { Text = Model.Datasource.CityPlaceholderText, Value = "-1" } };
        cityList.AddRange(Mapper.Map<IEnumerable<OptionsListItem>, List<SelectListItem>>(Model.Datasource.CitiesOptionsList.OrderBy(x => x.Order)));

        radiusList = new List<SelectListItem> { new SelectListItem { Text = Model.Datasource.RangePlaceholderText, Value = "-1" } };
        radiusList.AddRange(Mapper.Map<IEnumerable<OptionsListItem>, List<SelectListItem>>(Model.Datasource.RangesOptionsList.OrderBy(x => x.Order)));

        insuranceList = new List<SelectListItem> { new SelectListItem { Text = Model.Datasource.InsurancePlaceholderText, Value = "-1" } };
        insuranceList.AddRange(Mapper.Map<IEnumerable<OptionsListItem>, List<SelectListItem>>(Model.Datasource.InsurancesOptionsList.OrderBy(x => x.Order)));

        //insurancePlanList = new List<SelectListItem> { new SelectListItem { Text = Model.Datasource.InsurancePlansPlaceholderText, Value = "-1" } };
    }

}

@if (!Model.HasDatasource && Sitecore.Context.PageMode.IsExperienceEditorEditing)
{
    <div class="error">Warning: 'Doctor Search' component has no datasource</div>
}
else
{
    using (Html.BeginUXModule("dekalbmedical/Components/DoctorSearch", new
    {
        url = Model.Datasource.SearchUrl,
        errorMessage = Model.Datasource.PleaseEnterACriteria,
        zipCodeErrorMessage = Model.Datasource.PleaseEnterZipCode,
        insurancePlansPlaceholderText = Model.Datasource.InsurancePlansPlaceholderText,
        isExperienceEditor = isExpEtrWithDs
    },
    new { @class = "score-component doctor-search " + Model.Classes }))
    {
        if (isExpEtrWithDs)
        {
            <a class="pe-editable-show-hide" href="javascript:void(0)">Show</a>
            <div class="pe-editable-drop-down-block">
                <ul>
                    <li>@Html.PeField("Search url", Consts.Fields.SearchResultsUrlField, new { Display = "@relativepath" }, " multyline")</li>
                    <li>@Html.PeField("List of Spetialties", Consts.Fields.SpecialitiesOptionsListField, null, " multyline")</li>
                    <li>@Html.PeField("List of Languages", Consts.Fields.LanguagesOptionsListField, null, " multyline")</li>
                    <li>@Html.PeField("List of Genders", Consts.Fields.GendersOptionsListField, null, " multyline")</li>
                    <li>@Html.PeField("List of Afiliated Locations", Consts.Fields.FacilitiesOptionsListField, null, " multyline")</li>
                    <li>@Html.PeField("List of Cities", Consts.Fields.CitiesOptionsListField, null, " multyline")</li>
                    <li>@Html.PeField("List of Ranges", Consts.Fields.RangesOptionsListField, null, " multyline")</li>
                    <li>@Html.PeField("List of Insurances", Consts.Fields.InsurancesOptionsListField, null, " multyline")</li>
                    <li>@Html.PeField("Message when no criteria", Consts.Fields.PleaseEnterACriteriaField)</li>
                    <li>@Html.PeField("Message when range selected but zip code doesn't", Consts.Fields.PleaseEnterZipCodeField)</li>
                    <li><span class="label">Zip Code format error:</span><span class="pe-editable-field">@Html.EditableValidationMessageFor(m => m.Zip)</span></li>
                </ul>
            </div>
        }
        <div class="doctor-search">
            <form>
                <div class="form-group">
                    <div class="form-group short">
                        <label for="LastName">@Html.Ternary(Consts.Fields.LastNameLabelField, Model.Datasource.LastNameLabel)</label>
                        @Html.TernaryInputText(Consts.Fields.LastNamePlaceholderTextField, "LastName", new { name = "LastName", @maxlength = "100", placeholder = Model.Datasource.LastNamePlaceholderText })
                    </div>
                    <div class="form-group short">
                        <label for="specialty">@Html.Ternary(Consts.Fields.SpecialtyLabelField, Model.Datasource.SpecialtyLabel)</label>
                        @Html.TernaryDropDown(Consts.Fields.SpecialtyPlaceholderTextField, "Specialties", specialtyList, new { id = "specialty", @class = "selectpicker" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-group short">
                        <label for="FirstName">@Html.Ternary(Consts.Fields.FirstNameLabelField, Model.Datasource.FirstNameLabel)</label>
                        @Html.TernaryInputText(Consts.Fields.FirstNamePlaceholderTextField, "FirstName", new { name = "FirstName", @maxlength = "100", placeholder = Model.Datasource.FirstNamePlaceholderText })
                    </div>
                    <div class="form-group short">
                        <label for="language">@Html.Ternary(Consts.Fields.LanguageLabelField, Model.Datasource.LanguageLabel)</label>
                        @Html.TernaryDropDown(Consts.Fields.LanguagePlaceholderTextField, "Languages", languageList, new { id = "language", @class = "selectpicker" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-group short">
                        <label for="gender">@Html.Ternary(Consts.Fields.GenderLabelField, Model.Datasource.GenderLabel)</label>
                        @Html.TernaryDropDown(Consts.Fields.GenderPlaceholderTextField, "Genders", genderList, new { id = "gender", @class = "selectpicker" })
                    </div>
                    <div class="form-group short">
                        <label for="location">@Html.Ternary(Consts.Fields.AffiliatedLocationLabelField, Model.Datasource.AffiliatedLocationLabel)</label>
                        @Html.TernaryDropDown(Consts.Fields.AffiliatedLocationPlaceholderTextField, "Locations", locationsList, new { id = "location", @class = "selectpicker" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-group short">
                        <label for="city">@Html.Ternary(Consts.Fields.CityLabelField, Model.Datasource.CityLabel)</label>
                        @Html.TernaryDropDown(Consts.Fields.CityPlaceholderTextField, "Cities", cityList, new { id = "city", @class = "selectpicker" })
                    </div>
                    <div class="form-group short">
                        <div class="form-group short">
                            <label for="Zip">@Html.Ternary(Consts.Fields.ZipLabelField, Model.Datasource.ZipLabel)</label>
                            @Html.TernaryInputTextFor(Consts.Fields.ZipPlaceholderTextField, m => m.Zip, new { id = "Zip", @maxlength = "5", placeholder = Model.Datasource.ZipPlaceholderText })

                        </div>
                        <div class="form-group short">
                            <label for="range">@Html.Ternary(Consts.Fields.RangeLabelField, Model.Datasource.RangeLabel)</label>
                            @Html.TernaryDropDown(Consts.Fields.RangePlaceholderTextField, "Radiuses", radiusList, new { id = "range", @class = "selectpicker" })
                        </div>
                    </div>
                </div>
                @*<div class="form-group">
                    <div class="form-group short">
                        <label for="insurance">@Html.Ternary(Consts.Fields.InsuranceLabelField, Model.Datasource.InsuranceLabel)</label>
                        @Html.TernaryDropDown(Consts.Fields.InsurancePlaceholderTextField, "Insurances", insuranceList, new { id = "insurance", @class = "selectpicker" })
                    </div>
                    <div class="form-group short">
                        <label for="insurancePlan" id="insurancePlanLabel" >@Html.Ternary(Consts.Fields.InsurancePlansLabelField, Model.Datasource.InsurancePlansLabel)</label>
                        @Html.TernaryDropDown(Consts.Fields.InsurancePlansPlaceholderTextField, "InsurancePlans", insurancePlanList, new { id = "insurancePlan", @class = "selectpicker", @disabled = "disabled" })
                    </div>
                </div>*@
                <br />
                <a href="javascript:void(0)" id="btnSearch" class="score-button btn-gray">@Html.Ternary(Consts.Fields.SearchButtonLabelField, Model.Datasource.SearchButtonLabel)</a>
                @if (!isExpEtrWithDs)  { @Html.EditableValidationMessageFor(m => m.Zip) }
            </form>
        </div>

        <script type="text/template" id="options-list-template">
            <% _.each( items , function( item ){ %><option value="<%- item.Value %>"><%- item.Text %></option><% }); %>
        </script>
    }
}