﻿@using AutoMapper
@using DeKalbMedical.Data
@using DeKalbMedical.Data.DTO.DataPart
@using DeKalbMedical.Web.Areas.DeKalbMedical.Models.Forms
@using DeKalbMedical.Web.Extensions
@using Score.UI.CCF
@model DoctorSearchResultsRenderingModel
@{
    bool isExpEtrWithDs = Model.HasDatasource && Sitecore.Context.PageMode.IsExperienceEditorEditing;

    Mapper.CreateMap<OptionsListItem, SelectListItem>();
}

@if (!Model.HasDatasource && Sitecore.Context.PageMode.IsExperienceEditorEditing)
{
    <div class="error">
        WARNING: Doctor Search Results component has no datasource!
    </div>
}
else
{
    using (Html.BeginUXModule("dekalbmedical/Components/DoctorSearchResults",
         new
         {
             perPage = Model.Datasource.ResultsPerPage,
             resultsErrorMessage = Model.Datasource.ResultsErrorMessage,
             isExperienceEditor = isExpEtrWithDs
         },
         new { @class = "score-component site-search-component " + Model.Classes }))
    {
        if (isExpEtrWithDs)
        {
            <a class="pe-editable-show-hide" href="javascript:void(0)">Show</a>
            <div class="pe-editable-drop-down-block">
                <ul>
                    <li>@Html.PeField("Found results per page", Consts.Fields.ResultsItemsPerPageField)</li>
                    <li>@Html.PeField("The message text for no results", Consts.Fields.ResultsErrorMessageField, null, " multiline")</li>
                    <li>@Html.PeField("The text for \" Maps and Directions\" link", Consts.Fields.DirectionsLinkTextField)</li>
                    <li>@Html.PeField("The text for \"Website\" link", Consts.Fields.WebsiteLinkTextField)</li>
                    <li>@Html.PeField("The text for \"Search\" button", Consts.Fields.ResultsMoreLinkTextField)</li>
                </ul>
            </div>
        }

        <div id="resulsTitle" class="score-document-header">
            <h1>@Html.Ternary(Consts.Fields.ResultsTitleField, Model.Datasource.ResultsTitle)</h1>
        </div>
        <div id="results-message" class="results-summary"></div>
        <div id="results"></div>
        <div id="pager"></div>

        <script type="text/template" id="doctor-search-template">
            <% _.each( items , function( item ){ %>
            <div class="result">
                <div class="score-column2 wide-right">
                    <div class="score-left">
                        <a href="<%- item.LinkHref %>"><img src="<%- item.Photo %>" class="img-responsive doctor-photo"></a>
                        <a href="<%- item.LinkHref %>" class="score-button btn-gray">@Html.Raw(Model.Datasource.ResultsMoreLinkText)</a>
                    </div>
                    <div class="score-right">
                        <div class="description">
                            <a href="<%- item.LinkHref %>"><%- item.LinkTitle %></a>
                            <p><%- item.SpecialtiesText %></p>
                            <div class="office-locations">
                                <h3>@Html.Raw(Model.Datasource.OfficesTitleText) </h3>  
                                <% for(var ofs in item.Offices) { %>
                                <div class="location">
                                    <strong>
                                        <%- item.Offices[ofs].Name %>
                                        <% if(item.Offices[ofs].IsPrimary == "1") { %><span>(primary)</span><% } %>
                                    </strong>
                                    <p>
                                        <%- item.Offices[ofs].AddressLine1 %>
                                        <% if(item.Offices[ofs].AddressLine2 !== undefined) { %><%- item.Offices[ofs].AddressLine2 %><br><% } %>
                                        <% if(item.Offices[ofs].AddressLine3 !== undefined) { %><%- item.Offices[ofs].AddressLine3 %><br><% } %>
                                        <% if(item.Offices[ofs].Phone !== "") { %>Phone: <%- item.Offices[ofs].Phone %><br><% } %>
                                        <% if(item.Offices[ofs].Fax !== "") { %>Fax: <%- item.Offices[ofs].Fax %><br><% } %>
                                    </p>
                                    <a href="<%- item.Offices[ofs].GetDirectionLink %>">@Html.Raw(Model.Datasource.DirectionsLinkText)</a>
                                    <% if(item.Offices[ofs].Website !== "") { %>| <a href="<%- item.Offices[ofs].Website %>">@Html.Raw(Model.Datasource.WebsiteLinkText)</a><% } %>
                                </div>
                                <% } %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <% }); %>
        </script>
        <script type="text/template" id="doctor-search-summary-template">
            <div class="pages">Viewing Page <span id="page-number"><%- pager.pageIndex+1 %></span> of <span id="page-total"><%- pager.totalPages %></span></div>
            <div class="results">Showing Results <span id="results-number"><%- pager.from %> - <%- pager.to %></span> of <span id="results-total"><%- pager.totalRows %></span></div>
        </script>
        <script type="text/template" id="results-pager-template">
            <ul class="pagination">
                <% _.each( items , function( item ){ %>
                <li class="<%- item.btnClass %>"><a href="javascript:void(0)" data-dt-idx="<%- item.button %>"><%- item.btnDisplay %></a></li> <% }); %>
            </ul>
        </script>
    }
}