﻿@using AutoMapper
@using DeKalbMedical.Data
@using DeKalbMedical.Data.DTO.DataPart
@using DeKalbMedical.Web.Areas.DeKalbMedical.Models.Forms
@using DeKalbMedical.Web.Extensions
@using Score.UI.CCF

@model LocationSearchRenderingModel

@{
    Html.EnableClientValidation();
    Html.EnableUnobtrusiveJavaScript(true);
    
    bool isExpEtrWithDs = Model.HasDatasource && Sitecore.Context.PageMode.IsExperienceEditorEditing;
    List<SelectListItem> serviceList = null;
    serviceList = new List<SelectListItem> { new SelectListItem { Text = Model.Datasource.SelectServiceLabel, Value = "-1" } };
    if (!isExpEtrWithDs)
    {
        Mapper.CreateMap<OptionsListItem, SelectListItem>();
      
        serviceList.AddRange(Mapper.Map<IEnumerable<OptionsListItem>, List<SelectListItem>>(Model.Datasource.Services.OrderBy(x => x.Order))); 
    }
   
    var cityList = new List<SelectListItem>
    {
        new SelectListItem { Text = Model.Datasource.SelectCityLabel, Value = "-1" }
    };
    cityList.AddRange(Model.Datasource.Cities.Select(x => new SelectListItem { Value = x.Value, Text = x.Value }));

    var radiusList = new List<SelectListItem>
    {
        new SelectListItem { Text = Model.Datasource.SelectRadiusLabel, Value = "-1" }
    };
    radiusList.AddRange(Model.Datasource.Ranges.Select(x => new SelectListItem { Value = x.Key, Text = x.Value }));
}

@if (!Model.HasDatasource && Sitecore.Context.PageMode.IsExperienceEditorEditing)
{
    <div class="error">
        Warning: 'Location Search' component has no datasource
    </div>
}
else
{
    using (Html.BeginUXModule("dekalbmedical/Components/LocationSearch", new
    {
        url = Model.Datasource.SearchUrl,
        errorMessage = Model.Datasource.EnterCriteriaMessage,
        zipCodeErrorMessage = Model.Datasource.PleaseEnterZipCode,
        isExperienceEditor = isExpEtrWithDs
    }))
    {
        if (isExpEtrWithDs)
        {
            <a class="pe-editable-show-hide" href="javascript:void(0)">Show</a>
            <div class="pe-editable-drop-down-block">
                <ul>
                    <li><span class="label">Search url:</span> <span class="pe-editable-field">@Html.Sitecore().Field(Model.Datasource.SearchResultsUrlField, new { Display = "@relativepath" })</span></li>
                    <li>@Html.PeField("Message when no criteria", Consts.Fields.PleaseEnterACriteriaField)</li>
                    <li>@Html.PeField("Message when range selected but zip code doesn't", Consts.Fields.PleaseEnterZipCodeField)</li>
                    <li><span class="label">Zip Code format error:</span><span class="pe-editable-field">@Html.EditableValidationMessageFor(m => m.ViewModel.Zip)</span></li>
                    <li>@Html.PeField("List of Services", Model.Datasource.ServicesForDropdown, new { Display = "@name" }, " multyline")</li>
                </ul>
            </div>
        }
        <!--start location search component-->
        <div class="location-search">
            @using (Ajax.BeginRouteForm("SearchResults", new AjaxOptions()))
            {
                <div class="form-group">
                    <div class="form-group short">
                        @Html.TernaryLabelFor(x => x.ViewModel.LocationName, Model.Datasource.LocationNameLabelField, Model.Datasource.LocationNameLabel)
                        @Html.TernaryTextBoxFor(x => x.ViewModel.LocationName, Model.Datasource.LocationNamePlaceholderTextField, Model.Datasource.LocationNamePlaceholderText)
                    </div>
                    <div class="form-group short">
                        @Html.TernaryLabelFor(x => x.ViewModel.City, Model.Datasource.CityLabelField, Model.Datasource.CityLabel)
                        @Html.TernaryDropDownFor(x => x.ViewModel.City, Model.Datasource.SelectCityLabelField, cityList, new {id = "city", @class = "selectpicker"})
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-group short">
                        @Html.TernaryLabelFor(x => x.ViewModel.Service, Model.Datasource.ServicesLabelField, Model.Datasource.ServicesLabel)
                        @Html.TernaryDropDownFor(x => x.ViewModel.Service, Model.Datasource.SelectServiceLabelField, serviceList, new { id = "service", @class = "selectpicker" })
                    </div>
                    <div class="form-group short">
                        <div class="form-group short">
                            @Html.TernaryLabelFor(x => x.ViewModel.Zip, Model.Datasource.ZipLabelField, Model.Datasource.ZipLabel)
                            @Html.TernaryInputTextFor(Consts.Fields.ZipPlaceholderTextField, m => m.ViewModel.Zip, new {id = "Zip", @maxlength = "5", placeholder = Model.Datasource.ZipPlaceholderText})
                        </div>
                        <div class="form-group short">
                            @Html.TernaryLabelFor(x => x.ViewModel.Radius, Model.Datasource.RangeLabelField, Model.Datasource.RangeLabel)
                            @Html.TernaryDropDownFor(x => x.ViewModel.Radius, Model.Datasource.SelectRadiusLabelField, radiusList, new {id = "radius", @class = "selectpicker"})
                        </div>
                    </div>
                </div>
                <br />
                <a href="#" id="btnSearch" class="score-button btn-gray">@Html.Ternary(Model.Datasource.SearchButtonLabelField, Model.Datasource.SearchButtonLabel)</a>
                if (!isExpEtrWithDs) { @Html.EditableValidationMessageFor(m => m.ViewModel.Zip) }
            }
        </div>
    }
}
<!--end location search component-->