﻿@using AutoMapper
@using DeKalbMedical.Data
@using DeKalbMedical.Data.DTO.DataPart
@using DeKalbMedical.Web.Areas.DeKalbMedical.Models.Forms
@using DeKalbMedical.Web.Extensions
@using Score.UI.CCF
@model LocationSearchResultsRenderingModel
@{
    bool isExpEtrWithDs = Model.HasDatasource && Sitecore.Context.PageMode.IsExperienceEditorEditing;

    Mapper.CreateMap<OptionsListItem, SelectListItem>();
}

@if (!Model.HasDatasource && Sitecore.Context.PageMode.IsExperienceEditorEditing)
{
    <div class="error">
        WARNING: Search results component has no datasource!
    </div>
}
else
{
    using (Html.BeginUXModule("dekalbmedical/Components/LocationSearchResults",
         new
         {
             perPage = Model.Datasource.ResultsPerPage,
             resultsErrorMessage = Model.Datasource.ResultsErrorMessage,
             isExpEditor = isExpEtrWithDs
         },
         new { @class = "score-component site-search-component " + Model.Classes }))
    {
        if (isExpEtrWithDs)
        {
            <a class="pe-editable-show-hide" href="javascript:void(0)">Show</a>
            <div class="pe-editable-drop-down-block">
                <ul>
                    <li>@Html.PeField("Found results per page", Consts.Fields.ResultsItemsPerPageField)</li>
                    <li>@Html.PeField("The message text for no results", Consts.Fields.ResultsErrorMessageField, null, " multiline")</li>

                    <li>@Html.PeField("The template for total results message", Consts.Fields.TotalResultsTemplateField, null, " multyline")</li>
                    <li>@Html.PeField("The template for pager", Consts.Fields.ResultsPagerTemplateField, null, " multyline")</li>
                    <li>@Html.PeField("The template for no results message", Consts.Fields.ResultsNoResultsTemplateField, null, " multyline")</li>

                    <li>@Html.PeField("The text for \"Website\" link", Consts.Fields.WebsiteLinkTextField)</li>
                    <li>@Html.PeField("The text for \"Read more\" link", Consts.Fields.ResultsReadMoreField)</li>
                    <li>@Html.PeField("The text for \" Maps and Directions\" link", Consts.Fields.DirectionsLinkTextField)</li>
                    <li>@Html.PeField("Directions Url:", Model.Datasource.DirectionUrlFieldName)</li>
                </ul>
            </div>
        }
        <div class="score-document-header">
            <h1>@Html.Ternary(Consts.Fields.ResultsTitleField, Model.Datasource.ResultsTitle)</h1>
        </div>
                <!--start location results component-->
        <div class="location-search-results">
            @*<span class="alert"></span>*@
            <div class="results-summary">
                <div class="results">
                    @*<span id="results-total">2</span> results - total goes here*@
                </div>
            </div>
            <div class="result-list">
                @*content goes here*@
            </div>
            <div id="pager" class="pagination"></div>

            <script type="text/template" id="site-search-pager-template">
                @Html.Sitecore().Field(Consts.Fields.ResultsPagerTemplateField)
            </script>
            <script type="text/template" id="site-search-noresults-template">
                @Html.Sitecore().Field(Consts.Fields.ResultsNoResultsTemplateField)
            </script>
            <script type="text/template" id="total-results-template">
                @Html.Sitecore().Field(Consts.Fields.TotalResultsTemplateField)
            </script>

        </div>
        <!--end doctor results component-->

        <script type="text/template" id="site-search-template">

            <% _.each( items , function( item ){ %>
            <div class="result">
                <div class="score-column2 wide-right">
                    <div class="score-left">
                        <% if(!_.isNull(item.Photo)) { %>
                        <% if(!_.isNull(item.ReadMoreLink) && item.ReadMoreLink != "") { %>
                        <a href="<%- item.ReadMoreLink %>"><img src="<%- item.Photo %>" class="img-responsive" /></a>
                        <% } else if(!_.isNull(item.Website) && item.Website != "") { %>
                        <a href="<%- item.Website %>"><img src="<%- item.Photo %>" class="img-responsive" /></a>
                        <% } else { %>
                        <a href="<%- item.LinkHref %>"><img src="<%- item.Photo %>" class="img-responsive" /></a>
                        <% } %>
                        <% } %>
                    </div>
                    <div class="score-right">
                        <div class="description">
                            <% if(!_.isNull(item.ReadMoreLink) && item.ReadMoreLink != "") { %>
                            <a href="<%- item.ReadMoreLink %>"><%- item.LinkTitle %></a>
                            <% } else if(!_.isNull(item.Website) && item.Website != "") { %>
                            <a href="<%- item.Website %>"><%- item.LinkTitle %></a>
                            <% } else { %>
                            <a href="<%- item.LinkHref %>"><%- item.LinkTitle %></a>
                            <% } %>
                            <div class="office-locations">
                                <div class="location">
                                    <p>
                                        <%= item.Address.replace(/\r\n/g, "<br />").replace(/\n/g, "<br />") %>
                                    </p>
                                    <% if(!_.isNull(item.Website) && item.Website != "") { %>
                                    <a href="<%- item.Website %>">@Html.Raw(Model.Datasource.WebsiteLinkText)</a>
                                    <% } %>
                                    <a href="@Html.Raw(Model.Datasource.DirectionUrl)<%= item.Address.replace(/\r\n/g, " ").replace(/\n/g, " ") %>">@Html.Raw(Model.Datasource.DirectionsLinkText)</a>
                                    <% if(!_.isNull(item.ReadMoreLink) && item.ReadMoreLink != "") { %>
                                    <a href="<%- item.ReadMoreLink %>">@Html.Raw(Model.Datasource.ResultsMoreLinkText)</a>
                                    <% } %>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <% }); %>

        </script>
    }
}