﻿@using DeKalbMedical.Data
@using DeKalbMedical.Web.Extensions
@using Score.UI.CCF
@using Sitecore.Shell
@model DeKalbMedical.Web.Areas.DeKalbMedical.Models.Forms.NewsSearchWidgetRenderingModel

@if (Sitecore.Context.PageMode.IsExperienceEditorEditing)
{
    <p>News Search Results URL - @Html.Sitecore().Field(Consts.Fields.NewsSearchResultsUrl)</p>
    <p>Refine By Category Label : @Html.Sitecore().Field(Consts.Fields.NewsCategoryLabel)</p>
    <p>Show Refine by Category - @Html.Sitecore().Field(Consts.Fields.NewsCategoryCheckboxLabel, new { Display = "Checkbox" })</p>
    <p>Categories - @Html.PeField("", Consts.Fields.NewsSearchCategories, new { Display = "@name" }, " multilyne")</p>
    <p>Refine by Year Label - @Html.Sitecore().Field(Consts.Fields.NewsArchiveLabel)</p>
    <p>Show Refine by Year - @Html.Sitecore().Field(Consts.Fields.NewsArchiveCheckboxLabel, new { Display = "Checkbox" })</p>
    <p>Years - @Html.PeField("", Consts.Fields.NewsSearchYears, new { Display = "@name" }, " multilyne")</p>
}
else
{
    using (Html.BeginUXModule("dekalbmedical/Components/NewsSearchWidget",
        new
        {
            url = Model.GetSearchResultUrl,
            perPage = 4
        },
        new { @class = "score-component news-sidebar" + Model.Classes }))
    {
        using (Ajax.BeginRouteForm("SearchResults", new AjaxOptions { }))
        {
            if (Model.ShowCategory)
            {
                <div>
                    <h4>@Html.Sitecore().Field(Consts.Fields.NewsCategoryLabel)</h4>

                    @foreach (var categoryItem in Model.CategoryItems)
                    {
                        <a class="SearchCategory" data-value="@categoryItem.ID.ToString()">@categoryItem.Name</a>
                    }
                </div>
            }
            if (Model.ShowArchive)
            {
                <div>
                    <h4>@Html.Sitecore().Field(Consts.Fields.NewsArchiveLabel)</h4>

                    @foreach (var archiveItem in Model.ArchiveItems)
                    {
                        <a class="SearchYear">@archiveItem.Name</a>
                    }
                </div>
            }
        }
    }
}

