﻿@using DeKalbMedical.Data
@using DeKalbMedical.Web.Extensions
@using Score.UI.CCF
@model DeKalbMedical.Web.Areas.DeKalbMedical.Models.Forms.NewsSearchResultsRenderingModel

@{
    Html.EnableUnobtrusiveJavaScript(true);
    
    bool isExpEtrWithDs = Model.HasDatasource && Sitecore.Context.PageMode.IsExperienceEditorEditing;
}

@if (!Model.HasDatasource && Sitecore.Context.PageMode.IsExperienceEditorEditing)
{
    <div class="error">
        WARNING: 'News Search' component has no datasource!
    </div>
}
else
{
    using (Html.BeginUXModule("dekalbmedical/Components/NewsSearchresults",
        new
        {
            perPage = Model.Datasource.ResultsItemsPerPage,
            resultsErrorMessage = Model.Datasource.ResultsErrorMessage,
            isExperienceEditor = isExpEtrWithDs
        },
        new { @class = "score-component news-search-component" + Model.Classes }))
    {
        if (isExpEtrWithDs)
        {
            <a class="pe-editable-show-hide" href="javascript:void(0)">Show</a>
            <div class="pe-editable-drop-down-block">
                <ul>
                    <li>@Html.PeField("Found results per page", Consts.Fields.ResultsItemsPerPageField)</li>
                    <li>@Html.PeField("The message text for no results", Consts.Fields.ResultsErrorMessageField, null, " multiline")</li>
                    <li>@Html.PeField("Read More Label", Consts.Fields.ResultsReadMoreField)</li>
                </ul>
            </div>
        }
    
        <div class="news-search-results">
            <div id="resultsTitle" class="score-document-header" @if (!isExpEtrWithDs) { @Html.Raw("style='display:none'") }>
                <h1>@Html.Ternary(Consts.Fields.ResultsTitleField, Model.Datasource.ResultsTitle)</h1>
            </div>
            <div id="results-message" class="results-summary"></div>
            <div id="results"></div>
            <div id="pager"></div>
        </div>


        <script type="text/template" id="news-search-template">
            <% _.each( items , function( item ){ %>
            <div class="result">
                <div class="score-column2 wide-right">
                    <div class="description">
                        <p><%- item.PressReleaseDate %></p>
                        <h3><a href="<%- item.LinkHref %>"><%- item.PressReleaseTitle %></a></h3>                        
                        <p><%- item.PressMetaDescription %></p>
                        <a href="<%- item.LinkHref %>" class="score-composite-link btn-link">@Html.Ternary(Consts.Fields.ResultsReadMoreField, Model.Datasource.ReadMoreLabel)</a>
                    </div>
                </div>
            </div>
            <% }); %>
        </script>
    
        <script type="text/template" id="news-search-summary-template">
            <div class="pages">Viewing Page <span id="page-number"><%- pager.pageIndex+1 %></span> of <span id="page-total"><%- pager.totalPages %></span></div>
            <div class="results">Showing Results <span id="results-number"><%- pager.from %> - <%- pager.to %></span> of <span id="results-total"><%- pager.totalRows %></span></div>
        </script>
        <script type="text/template" id="results-pager-template">
            <ul class="pagination">
                <% _.each( items , function( item ){ %>
                <li class="<%- item.btnClass %>"><a href="javascript:void(0)" data-dt-idx="<%- item.button %>"><%- item.btnDisplay %></a></li> <% }); %>
            </ul>
        </script>
    }
}