﻿@using DeKalbMedical.Data
@using DeKalbMedical.Web.Extensions
@using Score.UI.CCF
@model DeKalbMedical.Web.Areas.DeKalbMedical.Models.Forms.NewsSearchRenderingModel

@{
    Html.EnableUnobtrusiveJavaScript(true);
    
    bool isExpEtrWithDs = Model.HasDatasource && Sitecore.Context.PageMode.IsExperienceEditorEditing;

    var categoriesList = new List<SelectListItem>
    {
        new SelectListItem { Value = "-1", Text = Model.Datasource.SelectCategoryPlaceholderText }
    };
    categoriesList.AddRange(Model.Datasource.Categories.Select(x => new SelectListItem { Value = x.Key, Text = x.Value }));
}

@if (!Model.HasDatasource && Sitecore.Context.PageMode.IsExperienceEditorEditing)
{
    <div class="error">
        WARNING: 'News Search' component has no datasource!
    </div>
}
else
{
    using (Html.BeginUXModule("dekalbmedical/Components/NewsSearch",
        new
        {
            url = Model.Datasource.SearchUrl,
            isExperienceEditor = isExpEtrWithDs
        },
        new { @class = "score-component news-search-component" + Model.Classes }))
    {
        if (isExpEtrWithDs)
        {
            <a class="pe-editable-show-hide" href="javascript:void(0)">Show</a>
            <div class="pe-editable-drop-down-block">
                <ul>
                    <li><span class="label">Search url:</span> <span class="pe-editable-field">@Html.Sitecore().Field(Consts.Fields.ResultsSearchResultsUrlField, new { Display = "@relativepath" })</span></li>
                </ul>
            </div>
        }

        <div class="score-document-header">
            <h1>@Html.Ternary(Consts.Fields.NewsSearchTitleLabelField, Model.Datasource.TitleLabel)</h1>
        </div>
    
        <div class="news-search">
            @using (Ajax.BeginRouteForm("SearchResults", new AjaxOptions {}))
            {
                <div class="form-group">
                    <div class="form-group short">
                        @Html.TernaryLabelFor(x => x.ViewModel.Keyword, Consts.Fields.NewsSearchKeywordLabelField, Model.Datasource.KeywordLabel)
                        @Html.TernaryTextBoxFor(x => x.ViewModel.Keyword, Consts.Fields.NewsSearchKeywordPlaceholderTextField, new {Name = "Keyword", @placeholder = Model.Datasource.KeywordPlaceholderText})
                    </div>
                    <div class="form-group short">
                        @Html.TernaryLabelFor(x => x.ViewModel.Category, Consts.Fields.NewsSearchCategoryLabelField, Model.Datasource.CategoryLabel)
                        @Html.TernaryDropDownFor(x => x.ViewModel.Category, Consts.Fields.NewsSearchSelectCategoryPlaceholderTextField, categoriesList, new {Name = "Category", id = "category", @class = "selectpicker"})
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-group short">
                        @Html.TernaryLabelFor(x => x.ViewModel.DateFrom, Consts.Fields.NewsSearchDateFromLabelField, Model.Datasource.DateFromLabel)
                        @Html.TernaryTextBoxFor(x => x.ViewModel.DateFrom, Consts.Fields.NewsSearchDateFromPlaceholderTextField, new { Name = "DateFrom", id = "datefrom", @class = "datepicker", @placeholder = Model.Datasource.DateFromPlaceholderText })
                    </div>
                    <div class="form-group short">
                        @Html.TernaryLabelFor(x => x.ViewModel.DateTo, Consts.Fields.NewsSearchDateToLabelField, Model.Datasource.DateToLabel)
                        @Html.TernaryTextBoxFor(x => x.ViewModel.DateTo, Consts.Fields.NewsSearchDateToPlaceholderTextField, new { Name = "DateTo", id = "dateto", @class = "datepicker", @placeholder = Model.Datasource.DateToPlaceholderText })
                    </div>
                </div>

                <a href="javascript:void(0)" id="btnSearch" class="score-button btn-gray">@Html.Ternary(Consts.Fields.SearchButtonLabelField, Model.Datasource.SearchButtonLabel)</a>
            } 
        </div>
    }
}