﻿@using AutoMapper
@using DeKalbMedical.Data
@using DeKalbMedical.Data.DTO.DataPart
@using DeKalbMedical.Web.Areas.DeKalbMedical.Models.Forms
@using DeKalbMedical.Web.Extensions
@using Score.UI.CCF
@model SearchResultsRenderingModel
@{
    bool isExpEtrWithDs = Model.HasDatasource && Sitecore.Context.PageMode.IsExperienceEditorEditing;

    Mapper.CreateMap<OptionsListItem, SelectListItem>();

    var categoryList = new List<SelectListItem>
    {
        new SelectListItem() {Text = Model.Datasource.ResultsDropDownEmptyItemText}
    };

    categoryList.AddRange(Mapper.Map<IEnumerable<OptionsListItem>, List<SelectListItem>>(Model.Datasource.ResultsDropDownOptionsList.OrderBy(x=>x.Order)));
}

@if (!Model.HasDatasource && Sitecore.Context.PageMode.IsExperienceEditorEditing)
{
    <div class="error">
        WARNING: Search results component has no datasource!
    </div>
}
else
{
    using (Html.BeginUXModule("dekalbmedical/Components/SearchResults",
         new
         {
             perPage = Model.Datasource.ResultsPerPage,
             resultsErrorMessage = Model.Datasource.ResultsErrorMessage,
             errorMessage = Model.Datasource.ErrorMessage,
             searchParameter = Model.Datasource.SearchParameterName
         },
         new { @class = "score-component site-search-component " + Model.Classes }))
    {
        if (isExpEtrWithDs)
        {
            <a class="pe-editable-show-hide" href="javascript:void(0)">Show</a>
            <div class="pe-editable-drop-down-block">
                <ul>
                    <li>@Html.PeField("Found results per page", Consts.Fields.ResultsItemsPerPageField)</li>
                    <li>@Html.PeField("The message text for no results", Consts.Fields.ResultsErrorMessageField, null, " multyline")</li>
                    <li>@Html.PeField("The text for \"Read more\" link", Consts.Fields.ResultsMoreLinkTextField)</li>
                    <li>@Html.PeField("The text for search box placeholder", Consts.Fields.SearchBoxPlaceholderTextField)</li>
                    <li>@Html.PeField("The error text for search box", Consts.Fields.SearchBoxErrorMessageField)</li>
                    <li>@Html.PeField("The template for results summary text message", Consts.Fields.ResultsSummaryTitleTemplateField, null, " multyline")</li>
                    <li>@Html.PeField("The template for pager", Consts.Fields.ResultsPagerTemplateField, null, " multyline")</li>
                    <li>@Html.PeField("The template for no results message", Consts.Fields.ResultsNoResultsTemplateField, null, " multyline")</li>
                    <li>@Html.PeField("Path to parent item for dropdown list", Consts.Fields.ResultsDropDownOptionsListField, new { Display = "@relativepath" }, " multyline")</li>
                    <li>@Html.PeField("The text for empty dropdown list item", Consts.Fields.ResultsDropDownEmptyItemTextField)</li>
                </ul>
            </div>
        }
        <div class="score-document-header">
            <h1>@Html.Ternary(Consts.Fields.ResultsTitleField, Model.Datasource.ResultsTitle)</h1>
        </div>
        <div class="search-results">
            <div class="filter">
                <div class="filter-section">
                    <label for="keyword">@Html.Ternary(Consts.Fields.ResultsLabelForSearchBoxField, Model.Datasource.ResultsLabelForSearchBox)</label>
                    @Html.TextBox(Model.Datasource.SearchBoxName, null, new
                    {
                        id = "keyword",
                        autocapitalize = "off",
                        autocorrect = "off",
                        placeholder = Model.Datasource.PlaceholderText,
                        value = string.Empty,
                        name = string.Empty,
                        maxlength = "100"
                    })
                </div>
                <div class="filter-section">
                    <label for="category">@Html.Ternary(Consts.Fields.ResultsLabelForDropDownField, Model.Datasource.ResultsLabelForDropDown)</label>
                    @Html.DropDownList("categories", categoryList, new {id="category", @class="selectpicker"})
                </div>
            </div>
            <div class="row">
                <div class="col-xs-1">
                    <a href="javascript:void(0)" id="btnSearch" class="score-button btn-gray">@Html.Ternary(Consts.Fields.ResultsTextForSearchButtonField, Model.Datasource.ResultsTextForSearchButton)</a>
                </div>
                <div class="col-xs-11">
                    <span class="alert"></span>
                </div>
            </div>
            <div class="results">
                <p id="results-message" class="score-lead"></p>
                <div id="results"></div>
                <div id="pager" class="pagination"></div>
            </div>
        </div>

        <script type="text/template" id="site-search-template">
            <% _.each( items , function( item ){ %>
            <div class="search-result">
                <a href="<%- item.LinkHref %>"><%- item.LinkTitle %></a>
                <p><%- item.Metadescription %></p>
                <a href="<%- item.LinkHref %>">@Html.Raw(Model.Datasource.ResultsMoreLinkText)</a>
            </div>
            <% }); %>
        </script>

        <script type="text/template" id="site-search-summary-template">
            @Html.Sitecore().Field(Consts.Fields.ResultsSummaryTitleTemplateField)
        </script>
        <script type="text/template" id="site-search-pager-template">
            @Html.Sitecore().Field(Consts.Fields.ResultsPagerTemplateField)
        </script>
        <script type="text/template" id="site-search-noresults-template">
            @Html.Sitecore().Field(Consts.Fields.ResultsNoResultsTemplateField)
        </script>
    }
}
