﻿@using DeKalbMedical.Data
@using DeKalbMedical.Web.Areas.DeKalbMedical.Models.Forms
@using DeKalbMedical.Web.Extensions
@using Score.UI.CCF
@model SearchBoxRenderingModel

@if (!Model.HasDatasource && Sitecore.Context.PageMode.IsExperienceEditorEditing)
{
    <div class="error">
        WARNING: Search box component has no datasource!
    </div>
}
else
{
    using (Html.BeginUXModule("dekalbmedical/Components/SearchBox", new
    {
        url = Model.Datasource.SearchUrl,
        parameter = Model.Datasource.SearchParameterName,
        errorMessage = Model.Datasource.ErrorMessage
    }))
    {
        if (Model.HasDatasource && Sitecore.Context.PageMode.IsExperienceEditorEditing)
        {
            <a class="pe-editable-show-hide" href="javascript:void(0)">Show</a>
            <div class="pe-editable-drop-down-block">
                <ul>
                    <li>@Html.PeField("Placeholder text", Consts.Fields.SearchBoxPlaceholderTextField)</li>
                    <li>@Html.PeField("Search url", Consts.Fields.SearchBoxUrlField, new { Display = "@relativepath" })</li>
                    <li>@Html.PeField("Search parameter", Consts.Fields.SearchBoxParameterNameField)</li>
                    <li>@Html.PeField("The error text", Consts.Fields.SearchBoxErrorMessageField)</li>
                </ul>
            </div>
        }
        <div class="score-component @Model.Classes" style="@Model.Styles">
            @Html.TextBox(Model.Datasource.SearchBoxName, null, new
            {
                autocapitalize = "off",
                autocorrect = "off",
                placeholder = Model.Datasource.PlaceholderText,
                value = string.Empty,
                name = string.Empty,
                maxlength = "100"
            })
            <button><span class="glyphicon"></span></button>
            <span class="alert"></span>
        </div>
    }
}