﻿@using DeKalbMedical.Data
@using DeKalbMedical.Data.DatasourceItems.News
@using DeKalbMedical.Web.Extensions
@using Score.UI.CCF
@model DeKalbMedical.Web.Areas.DeKalbMedical.Models.News.NewsFeedRenderingModel

@{
    bool isExpEtrWithDs = Model.HasDatasource && Sitecore.Context.PageMode.IsExperienceEditorEditing;
}

@if (!Model.HasDatasource && Sitecore.Context.PageMode.IsExperienceEditorEditing)
{
    <div class="error">
        WARNING: News Feed component has no datasource!
    </div>
}
else
{
    using (Html.BeginUXModule("dekalbmedical/Components/NewsFeed",
        new
        {
            perPage = Model.Datasource.NumberOfShowedNews,
            isExperienceEditor = isExpEtrWithDs,
            dsId = Model.Datasource.ID.Guid
        },
        new { @class = "score-component news-feed-component news-feed " + Model.Classes }))
    {
        if (isExpEtrWithDs)
        {
            <a class="pe-editable-show-hide" href="javascript:void(0)">Show</a>
            <div class="pe-editable-drop-down-block" style="width: auto;">
                <p><span>Latest News Number:</span><span>@Html.TernaryField(Consts.Fields.NewsFeedNumberOfShowedNewsField)</span></p>
                <p>Service Lines : @Html.PeField("", Consts.Fields.NewsFeedServiceLinesField, new { Display = "@name" }, " multilyne")</p>
                <p>Press room URL : @Html.PeField("", Consts.Fields.NewsFeedPressRoomUrlField)</p>
            </div>
        }
        <h5>@Html.Ternary(Consts.Fields.NewsFeedTitleLabelField, Model.Datasource.TitleLabel)</h5>
        <div id="result-news"></div>
        if (isExpEtrWithDs)
        {
            @Html.Ternary(Consts.Fields.NewsFeedPressRoomLabelField, Model.Datasource.PressRoomLabel)
        }
        else
        {
            <a href="@Model.Datasource.PressRoomUrl" class="visit-press-room">@Html.Raw(Model.Datasource.PressRoomLabel)</a>
        }

        <!--end news feed component-->
        <script type="text/template" id="news-feed-template">
            <% _.each( items, function( item, index ){ %>
            <div class="news-item">
                <h6><%- item.PressReleaseDate %></h6>
                <p class="press-release-title"><%- item.PressReleaseTitle %></p>
                <a href="<%- item.LinkHref %>">@Html.Ternary(Consts.Fields.NewsFeedReadMoreLabelField, Model.Datasource.ReadMoreLabel)</a>
            </div>
            <% }); %>
        </script>
    }
}