﻿@using DeKalbMedical.Data
@using DeKalbMedical.Web.Extensions
@model DeKalbMedical.Web.Areas.DeKalbMedical.Models.News.NewsDetailsRenderingModel

<div class="news-page">
    <div class="score-document-header">
        <h1>@Html.Ternary(Consts.Fields.PressReleaseTitleField, Model.Datasource.PressReleaseTitle)</h1>
        <p>@Html.TernaryDate(Consts.Fields.PressReleaseDateField, Model.Datasource.PressReleaseDate)</p>
        <div class="score-content-spot">
            @Html.TernaryField(Consts.Fields.PressReleaseImageField)
            @Html.Sitecore().Field(Consts.Fields.PressReleaseContentField)
        </div>
        @if (Sitecore.Context.PageMode.IsExperienceEditorEditing)
        {
            <div>
                @Html.Sitecore().Field(Consts.Fields.PressReleaseCategory, new { Display = "Name" })
            </div>
            <div>
                @Html.Sitecore().Field(Consts.Fields.PressReleaseServiceLine, new { Display = "Name" })
            </div>
        }

        @Html.Sitecore().DynamicPlaceholder("News Content Area")
    </div>   
</div>