﻿@using Score.UI.CCF
@model DeKalbMedical.Web.Areas.DeKalbMedical.Models.Content.Collections.ServiceListingsRenderingModel

@{
    Html.EnableUnobtrusiveJavaScript(true);
}
@if (Sitecore.Context.PageMode.IsExperienceEditorEditing)
{
    <div class="score-column2 equal thumbnail-slider-pe">
        @Html.Sitecore().DynamicPlaceholder("ServiceHighlights")
    </div>
    @Html.Sitecore().Field("See all services link")

}
else
{
    using (Html.BeginUXModule("dekalbmedical/Components/ServicesListing",
     new
     {
         perPage = "4"
     },
     new { @class = "score-component services-listing-component " + Model.Classes }))
    {
        <div class="services-listing">
            @Html.Sitecore().DynamicPlaceholder("ServiceHighlights")
        </div>

        <div class="service-listing-results">
            <div id="results"></div>
            <div id="pager"></div>
            <p>@Html.Sitecore().Field("See all services link")</p>
        </div>

        <script type="text/template" id="service-listing-template">
            <div class="score-column2 equal">
                <div class="score-left">
                    <% _.each( odditems , function( item, index){ %>
                    <div class="score-highlight highlight-blue-overlay result">
                        <div class="score-highlight-header">
                        </div>
                        <img src="<%- item.img %>" />
                        <div class="caption">
                            <% if(!(_.isUndefined(item.href))) { %>
                            <a href='<%- item.href %>'><h2 style="z-index: 1;"><%- item.h2 %></h2></a>
                            <% } else { %>
                            <h2 style="z-index: 1;"><%- item.h2 %></h2>
                            <% }; %>
                            <div class="score-highlight-body">
                            </div>
                            <div class="score-call-to-action">
                            </div>
                        </div>
                    </div>
                    <% }); %>
                </div>
                <div class="score-right">
                    <% _.each( evenitems , function( item, index){ %>
                    <div class="score-highlight highlight-blue-overlay result">
                        <div class="score-highlight-header">
                        </div>
                        <img src="<%- item.img %>" />
                        <div class="caption">
                            <% if(!(_.isUndefined(item.href))) { %>
                            <a href='<%- item.href %>'><h2 style="z-index: 1;"><%- item.h2 %></h2></a>
                            <% } else { %>
                            <h2 style="z-index: 1;"><%- item.h2 %></h2>
                            <% }; %>
                            <div class="score-highlight-body">
                            </div>
                            <div class="score-call-to-action">
                            </div>
                        </div>
                    </div>
                    <% }); %>
                </div>
            </div>
        </script>
    }
}