﻿@using DeKalbMedical.Data.DatasourceItems
@using Score.UI.CCF
@model Score.BootstrapUI.Web.Areas.ScoreBootstrapUI.Models.Content.Collections.AccordionPanelRenderingModel

@using (Html.BeginUXModule("dekalbmedical/Components/AccordionTooltip",
        new
        {

        },
        new { @class = "panel " + Model.Classes }))
{
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" href="#@Model.PanelId" class="collapsed" aria-expanded="false">
                    <p>@Html.Sitecore().Field(DekalbPanelItem.TitleFieldName)</p>
                    <p><span class="Panel-subtitle">@Html.Sitecore().Field(DekalbPanelItem.SubTitleFieldLabel)</span>@Html.Sitecore().Field(DekalbPanelItem.SubTitleFieldText)</p>
                    @if (Sitecore.Context.PageMode.IsExperienceEditorEditing)
                    {
                        <span>@Html.Sitecore().Field(DekalbPanelItem.TooltipFieldName)"</span>
                    }
                    else
                    {
                        <span class="panel-icon" data-toggle="tooltip" data-original-title="@Html.Sitecore().Field(DekalbPanelItem.TooltipFieldName)"></span>
                    }
                </a>
            </h4>
        </div>

        <div id="@Model.PanelId"
             @if (!Sitecore.Context.PageMode.IsExperienceEditorEditing) { @: class=" panel-collapse collapse"
                                           }>
            <div class="panel-body">
                @Html.Sitecore().DynamicPlaceholder("Panel Body")
            </div>
        </div>
}
