﻿@using Score.Data.Const
@using Sitecore.Mvc.Analytics.Extensions
@model Score.Data.ViewModels.Base.ContentPage
<!DOCTYPE html>
<html lang="@Sitecore.Context.Language.ToString()">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, target-densityDpi=device-dpi, initial-scale=1, user-scalable=no" />

    @Html.Sitecore().Rendering(ScoreConst.RenderingIds.PageMetaData, new { Cacheable = true, Cache_VaryByData = true })
    @Html.Sitecore().Rendering(ScoreConst.RenderingIds.PageHeaderScripts, new { Cacheable = true, Cache_VaryByData = true })
    @Html.Sitecore().Rendering(ScoreConst.RenderingIds.SiteHeaderScripts, new { Cacheable = true })
    <link rel="icon" href="/Areas/DekalbMedical/favicon.ico?v=2" type="image/x-icon">
    <link href="@Url.Content("~/Areas/DeKalbMedical/css/main.css")" rel="stylesheet"/>

    @if (Sitecore.Context.PageMode.IsExperienceEditorEditing)
    {
        <link href="@Url.Content("~/Areas/ScoreBootstrapUI/css/bootstrapui_page_editor.css")" rel="stylesheet" />
        <link href="@Url.Content("~/Areas/DeKalbMedical/css/page_editor.css")" rel="stylesheet" />
    }

    <script src="@Url.Content("~/Areas/DeKalbMedical/js/vendor/modernizr.2.6.2.min.js")"></script>

    <!--[if lt IE 10]>
        <script type="text/javascript">
            if (window.confirm("We're sorry. The browser version you are currently using is not compatible with this site. Please view our site using Google Chrome, Mozilla Firefox, IE 10 or above. Click OK to be redirected and update your browser."))
            {
                window.location.href='https://support.microsoft.com/en-us/help/17621/internet-explorer-downloads';
            };
        </script>
    <![endif]-->

    @Html.Sitecore().VisitorIdentification()
</head>
<body>
    @Html.Sitecore().Placeholder("Above Page Content")
    <div class="@ScoreStyles.PageWrapper">
        @Html.Sitecore().Placeholder("Page Content")
    </div>
    @Html.Sitecore().Placeholder("Below Page Content")

    <!-- Placed at the end of the document so the pages load faster -->

    <!--fix for timeout error when connection is slow-->
    <script>var require = { waitSeconds: 0 };</script>
    @foreach (var area in new[] { "ScoreCCF", "ScoreBootstrapUI", "DeKalbMedical" })
    {
        <script src="@Url.Content("~/Areas/" + area + "/js/require.config.js")" type="text/javascript"></script>
    }

    <script type="text/javascript">
    ;(function (global) {
        global["requirejs"] instanceof Function
        ? document.write("<script src=\"@Url.Content("~/Areas/DeKalbMedical/js/main.bootstrapper.js")\"></" + "script>")
        : document.write("<script src=\"@Url.Content("~/Areas/ScoreCCF/js/Vendor/require.js")\" data-main=\"@Url.Content("~/Areas/DeKalbMedical/js/main.js")\"></" + "script>");
    })(this);
    </script>

    @Html.Sitecore().Rendering(ScoreConst.RenderingIds.PageFooterScripts, new { Cacheable = true, Cache_VaryByData = true })
    @Html.Sitecore().Rendering(ScoreConst.RenderingIds.SiteFooterScripts, new { Cacheable = true })

</body>
</html>
