.score-lead {
    @extend .lead; //inherit bootstrap
    @include vertical-space($vertical-spacing);
    font-family: $site-font-serif;
    font-size: 1.571em;
    &.lead-blue-italic {
        @include vertical-space(10px);
        font-size: 1.143em;
        font-weight: bold;
        font-style: italic;
        color: $site-blue;
    }
}