.score-stripe, .score-style-box, .score-carousel-pane, .score-full-width-hero, .score-hero, .score-section-header, .score-well {
    &.cover {
        background-position:center center;
        background-repeat:no-repeat;
        background-size:cover;
    }
    &.contain {
        background-repeat:no-repeat;
        background-size:contain;
    }
    &.repeat {
        background-repeat:repeat;
    }
    &.repeat-x {
        background-repeat:repeat-x;
    }
    &.repeat-y {
        background-repeat:repeat-y;
    }
    //custom background positions filled from $background-positions map in _site-variables.scss
    @each $class, $position in $background-positions {
        &.#{$class} {
            background-size: cover;
            background-repeat: no-repeat;
            background-position: $position;
        }
    }
}
