.score-tab {
    @include vertical-space($vertical-spacing);
    .nav-tabs-wrapper-outer {

    }
    .nav-tabs-wrapper-inner {

    }
    .nav-tabs {
        li {
            a {
                font-size: 1.143em;
                font-weight: 500;
                color: $site-dark-gray;
                background-color: $site-light-gray;
            }
            &.active {
                a {
                    color: white;
                    background-color: $site-blue;
                    -webkit-box-shadow: inset 0 -2px 10px rgba(0,0,0,0.2);
                    -moz-box-shadow: inset 0 -2px 10px rgba(0,0,0,0.2);
                    box-shadow: inset 0 -2px 10px rgba(0,0,0,0.2);
                }
            }
        }
    }
    .tab-content-wrapper-outer {
        padding-top: $vertical-spacing;
    }
    .tab-content-wrapper-inner {

    }
    .tab-content {

    }
    .score-tab-panel {

    }
    &.tab-set-vertical {
        background-color: $site-light-gray;
        overflow: hidden;
        @media only screen and (min-width: $screen-sm-min) {
            display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
            display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
            display: -ms-flexbox;      /* TWEENER - IE 10 */
            display: -webkit-flex;     /* NEW - Chrome */
            display: flex;
            -webkit-align-items: stretch;
            -moz-align-items: stretch;
            -ms-align-items: stretch;
            -o-align-items: stretch;
            align-items: stretch;
        }
        .nav-tabs-wrapper-outer {
            background-color: $site-blue;
            background-image: -moz-linear-gradient(bottom right, transparent 60%, #54899E 100%);
            background-image: -webkit-gradient(linear, left top, left bottom, color-stop(60%, transparent), color-stop(100%, #54899E));
            background-image: -webkit-linear-gradient(left top, transparent 60%, #54899E 100%);
            background-image: -o-linear-gradient(bottom right, transparent 60%, #54899E 100%);
            background-image: -ms-linear-gradient(bottom right, transparent 60%, #54899E 100%);
            background-image: linear-gradient(to bottom right, transparent 60%, #54899E 100%);
            @media only screen and (min-width: $screen-sm-min) {
                float: left;
                width: 33.3333%;
            }
            @media only screen and (min-width: $screen-md-min) {
                width: 25%;
            }
        }
        .nav-tabs {
            li {
                @media only screen and (min-width: $screen-sm-min) {
                    float: none;
                }
                a {
                    padding: 20px 30px;
                    margin: 0;
                    border-radius: 0;
                    font-size: 1.429em;
                    background-color: transparent;
                    border-color: $site-light-gray;
                    border-width: 0 0 1px 0;
                    color: white;
                }
                &.active {
                    a {
                        background-color: $site-light-gray;
                        color: $site-blue;
                        -webkit-box-shadow: none;
                        -moz-box-shadow: none;
                        box-shadow: none;
                    }
                }
            }
        }
        .tab-content-wrapper-outer {
            background-color: $site-light-gray;
            @media only screen and (min-width: $screen-sm-min) {
                float: left;
                width: 66.66666%;
                padding: 40px;
            }
            @media only screen and (min-width: $screen-md-min) {
                width: 75%;
                padding: 40px 80px;
            }
            @media only screen and (min-width: $screen-lg) {
                padding: 40px 120px;
            }
        }
    }
}