form {
  @include vertical-space($vertical-spacing);
  .input-group-addon {
    display: none;
  }
  .required-field .control-label:before {
    color: $site-red;
  }
  .form-submit-border {
    .btn-default, .btn-default:hover {
      background-color: $site-blue;
      color: white;
      border-color: $site-blue;
      @include animation-ease;
    }
    .btn-default:hover {
      opacity: 0.8;
    }
  }
  .has-success .form-control {
    border-color: #ccc;
    &:focus {
      border-color: #ccc;
      -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
      box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    }
  }
  .has-success .help-block, .has-success .control-label, .has-success .radio, .has-success .checkbox, .has-success .radio-inline, .has-success .checkbox-inline, .has-success.radio label, .has-success.checkbox label, .has-success.radio-inline label, .has-success.checkbox-inline label {
    color: #595959;
  }
  .checkbox {
    @media only screen and (min-width: 600px) {
      float: left;
      width: 50%;
    }
    & + .checkbox {
      margin-top: 10px !important;
    }
  }
	.form-group .form-group.short input {
		padding: 4px 10px;
	}

    &.has-checkbox fieldset .form-group .control-label{
        display:block;
    }
}