footer {
  background: $site-dark-gray;
  & > .container.full-width {
    @include vertical-space($vertical-spacing);
    border-bottom: 1px solid #979797;
  }
  .footer-top {
    max-width: 95%;
    margin: 0 auto;
    @media only screen and (min-width: 1380px) {
      max-width: 1320px;
    }
    div[class^="score-column"], div[class*="score-column"] {
      margin-left: -15px;
      margin-right: -15px;
      & > .score-left {
        overflow: hidden;
        @media only screen and (min-width: $screen-md-min) {
          border-right: 1px solid #979797;
        }
      }
    }
    .score-section-header, .score-image-button {
      float: left;
    }
    .score-section-header {
      padding: 40px 0 0 30px;
      @include vertical-space(25px);
      @media only screen and (max-width: $screen-xs-max) {
        padding: 30px 0 0 0;
        @include vertical-space(0);
      }
      @media only screen and (min-width: $screen-md-min) and (max-width: 1045px) {
        padding-left: 4px;
      }
      h2 {
        margin-top: 0;
      }
    }
    .score-image-button {
      width: 44px;
      margin: 28px 0 25px 30px;
      @media only screen and (max-width: $screen-xs-max) {
        margin: 20px 0 25px 15px;
      }
    }
  }
  //make a 2-column wide left with 3-column equals into a five-column structure
  div[class^="score-column"].score-column2.wide-left, div[class*=" score-column"].score-column3.wide-left {
    div[class^="score-column"].score-column3.equal, div[class*=" score-column"].score-column3.equal {
      & > .score-left, & > .score-center, & > .score-right {
        @media only screen and (min-width: $screen-md-min) {
          width: 33.33333%;
        }
      }
    }
    & > .score-left {
      @media only screen and (min-width: $screen-md-min) {
        width: 60%;
      }
    }
    & > .score-right {
      @media only screen and (min-width: $screen-md-min) {
        width: 40%;
      }
      div[class^="score-column"].score-column3.equal, div[class*=" score-column"].score-column3.equal {
        & > .score-left, & > .score-center {
          @media only screen and (min-width: $screen-md-min) {
            width: 50%;
          }
        }
        & > .score-right {
          display: none;
        }
      }
    }
  }
}