﻿//Fix for Bootstrap dropdown navigation
//Splits the navigation link from dropdown caret 
//(for functionality of clickable link AND clickable dropdown)
.navbar-nav {
    .dropdown-submenu {
        position: relative;
    }
    .dropdown-submenu > .dropdown-menu {
        top: 0;
        left: 100%;
        margin-top: -6px;
        margin-left: -1px;
    }
    .dropdown-submenu:hover > .dropdown-menu {
        @media only screen and (min-width : 768px) {
            display: block;
        }
        @media only screen and (max-width : 768px) {
            display: none;
        }
    }
    .dropdown-submenu > a:after {
        content: " ";
        float: right;
        width: 0;
        height: 0;
        border-color: transparent;
        border-style: solid;
        border-width: 5px 0 5px 5px;
        border-left-color: #ccc;
        margin-top: 5px;
        margin-right: -10px;
        @media only screen and (max-width : 768px) {
            display: none;
        }
        @media only screen and (min-width : 768px) {
            display: block;
        }
    }
    .dropdown-submenu:hover > a:after {
        border-left-color: #fff;
    }
    .dropdown-submenu.pull-left {
        float: none;
    }
    .dropdown-submenu.pull-left > .dropdown-menu {
        left: -100%;
        margin-left: 10px;
    }
}
.score-main-menu-spider, .score-megamenu {
    @extend .navbar; //inherit bootstrap
    @extend .navbar-default; //inherit bootstrap
}
.score-megamenu-dropdown {
    @extend .dropdown; //inherit bootstrap
}
.score-navbar-header {
    @extend .navbar-header; //inherit bootstrap
}
.score-breadcrumb {
    @extend .breadcrumb; //inherit bootstrap
    @include vertical-space($vertical-spacing);
    padding-left: 0;
    background-color: transparent;
    border-bottom: 1px solid #979797;
    border-radius: 0;
    li {
        font-weight: 500;
        font-size: 1em;
        text-transform: uppercase;
        a {
            color: $site-dark-gray;
        }
        &.active {
            //color: $site-red;
            color: $site-navy;
        }
    }
    & > li + li:before, & > li + li:before {
        color: $site-dark-gray;
    }
}
.score-section-menu {
    @extend .nav; //inherit bootstrap
    @include vertical-space($vertical-spacing);
    li {
        @include vertical-space(3px);
        a {
            padding-top: 8px;
            padding-bottom: 8px;
            color: $site-dark-gray;
            font-size: 0.85em;
            border: 1px solid #ddd;
            border-radius: 3px;
            &:hover, &:focus {
                background-color: transparent;
            }
        }
        &:hover {
            & > a {
                background-color: #ddd;
            }
        }
        &.score-section-menu-root {
            a {
                color: white;
                background-color: $site-medium-gray;
                border-color: $site-medium-gray;
            }
        }
        .level-2 {
            display: none;
            margin-left: 10px;
            padding: 10px 0;
            li {
                a {
                    padding-top: 10px;
                    padding-bottom: 10px;
                    border: none;
                }
                &.active {
                    a {
                        //color: $site-red;
                        color: $site-navy;
                    }
                }
            }
        }
        &.active {
            .level-2 {
                display: block;
            }
            & > a {
                //color: $site-red;
                color: $site-navy;
            }
            &.score-section-menu-root {
                a {
                    color: white;
                }
            }
        }
    }
    &.menu-list-red {
        li {
            @include vertical-space(0);
            &.score-section-menu-root {
                display: none;
            }
            a {
                padding: 0;
                border: none;
                font-size: 1.143em;
                line-height: 1.875;
                //color: $site-red;
                color: $site-navy;
            }
        }
    }
    &.menu-list-white {
        li {
            @include vertical-space(0);
            &.score-section-menu-root {
                display: none;
            }
            a {
                padding: 0;
                border: none;
                font-size: 1em;
                line-height: 2.2;
                color: white;
            }
        }
    }
}
.score-siblings-menu {
    @extend .nav; //inherit bootstrap
    @include vertical-space($vertical-spacing);
}
.score-previous-next-menu {
    @extend .nav; //inherit bootstrap
    @include vertical-space($vertical-spacing);
}

.score-menu-list {
    @include vertical-space($vertical-spacing);
    list-style: none;
    padding-left: 0;
    li {
        a {
            color: $site-dark-gray;
        }
    }
}
.score-style-box {
    &.menu-list-horizontal {
        @include vertical-space(0);
        .score-menu-list {
            @include vertical-space(0);
            @include clearfix;
            li {
                float: left;
                a {
                    border-right: 1px solid white;
                    color: white;
                    font-weight: 100;
                    @media only screen and (min-width: $screen-sm-min) {
                        font-size: 0.714em;
                        padding-right: 5px;
                        margin-right: 5px;
                    }
                    @media only screen and (min-width: $screen-md-min) {
                        font-size: 0.85em;
                        padding-right: 10px;
                        margin-right: 15px;
                    }
                    @media only screen and (min-width: 1094px) {
                        font-size: 1em;
                        padding-right: 15px;
                    }
                }
                &:last-child {
                    a {
                        border: none;
                        padding: 0;
                        margin: 0;
                    }
                }
            }
        }
    }
    &.menu-list-red {
        @include vertical-space(0);
        .score-menu-list {
            li {
                a {
                    font-size: 1.143em;
                    line-height: 1.875;
                    //color: $site-red;
                    color: $site-navy;
                }
            }
        }

    }
    &.menu-list-white {
        @include vertical-space(0);
        .score-menu-list {
            li {
                a {
                    font-size: 1em;
                    line-height: 2.2;
                    color: white;
                }
            }
        }
    }
}