body {
    font-family: $site-font-sans-serif !important; //override WFFM
    font-weight: 400;
    color: $site-dark-gray !important; //override WFFM
}

h1, h2, h3 {
    font-family: $site-font-serif !important; //override WFFM
}

a {
    color: $site-blue;
    @include animation-ease;

    &:hover {
        color: $site-blue;
        text-decoration: none;
        opacity: 0.8;
    }

    &:focus {
        text-decoration: none;
    }
}

:focus {
    outline-color: $site-blue;
}

::selection {
    background-color: $site-blue;
    color: white;
}

.container {
    @media only screen and (min-width: 1380px) {
        width: 1350px;
    }

    &.full-width {
        div[class^="score-column"], div[class*=" score-column"] {
            margin: 0;

            .score-center {
                padding: 0;
            }
        }
    }
}

iframe {
    width: 100%;
    border: none;
}

.page-wrapper {
    padding-bottom: $vertical-spacing;

    @media only screen and (min-width: $screen-md-min) {
        //overflow-x: hidden;
    }

    & > .container {
        &:first-child {
            padding-top: 45px;
        }
    }
}

// slavko 08/12/16
.score-stripe {
    overflow: hidden;
}

.patient-stories-ddl {
    display: none;
}
@media only screen and (min-width: 768px) {
.nav-tabs-wrapper-inner .nav.nav-tabs {
    display:block !important;
    }
}
@media only screen and (max-width: 767px) {
    .patient-stories-ddl {
        display: block;
        padding: 20px 30px;
        margin: 0;
        border-radius: 0;
        font-size: 1.429em;
        background-color: transparent;
        border-color: #ececec;
        border-width: 1px;
        color: white;
        cursor:pointer;
        position: relative;
    }
  .patient-stories-ddl span.panel-icon {
    position: absolute;
    top: 50%;
    margin-top: -20px;
    right: 15px;
    width: 40px;
    height: 40px;
    background-image: url(../img/accordion_up_2x.png);
    background-size: 40px;
     -ms-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
    .nav-tabs-wrapper-inner {
        position: relative;
    }

    .nav-tabs-wrapper-inner.open .patient-stories-ddl span.panel-icon{
        -ms-transform: rotate(0);
    -webkit-transform: rotate(0);
    transform: rotate(0);
    }
    .nav-tabs-wrapper-inner .nav.nav-tabs {
        display: none;
        position: absolute;
        z-index: 50;
        top: 68px;
        left: 0;
        right: 0;
        background-color: #87afbf;
    }
  .nav-tabs-wrapper-inner.open .nav.nav-tabs {
   display: block;
  }
    .nav-tabs-wrapper-inner .nav.nav-tabs li {
        width: 100%;
        float: none;
        background-color: #87afbf;
    }
}
