﻿.score-highlight {
    //@extend .thumbnail; //inherit bootstrap
    @include vertical-space($vertical-spacing);
	.score-highlight-header {

	}
    & > img {
        width: 100%;
    }
    .caption {
        h2 {
            font-family: $site-font-sans-serif;
            font-size: 1.214em;
            font-weight: 500;
        }
        .score-highlight-body {
            font-size: 1.142em;
            a {
                //color: $site-red;
                color: $site-navy;
                text-decoration: underline;
                &:hover {
                    //color: $site-red;
                    color: $site-navy;
                }
            }
        }
        .score-call-to-action {
            .score-button {
                @include vertical-space(0);
                & + .score-button {
                    display: block;
                }
            }
        }
    }
    &.highlight-blue-overlay {
        position: relative;
        @include animation-ease;
        &:hover {
            opacity: 0.8;
        }
        .caption {
            h2 {
                position: absolute;
                left: 0;
                right: 0;
                bottom: 0;
                padding: 15px 20px;
                margin: 0;
                font-size: 1.142em;
                background-color: rgba(135, 175, 191, 0.95);
                color: white;
                @media only screen and (max-width: 499px) {
                    font-size: 0.88em;
                }
                @media only screen and (min-width: $screen-sm-min) and (max-width: $screen-md-max) {
                    font-size: 1em;
                }
                &::after {
                    content: '';
                    position: absolute;
                    right: 20px;
                    top: 10px;
                    width: 28px;
                    height: 28px;
                    background-image: url(../img/circle_button_2x.png);
                    background-size: 28px;
                    @media only screen and (max-width: 499px) {
                        top: 8px;
                    }
                    @media only screen and (min-width: $screen-sm-min) and (max-width: $screen-md-max) {
                        top: 8px;
                    }
                }
            }
            .score-button {
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                background-color: transparent;
                border: none;
                text-indent: -99999px;
            }
        }
    }
    &.highlight-red-border {
        background-color: $site-light-gray;
        //border-bottom: 5px solid $site-red;
        border-bottom: 5px solid $site-navy;
        -webkit-box-shadow: 5px 5px 0 #b7b7b7;
        box-shadow: 5px 5px 0 #b7b7b7;
        .caption {
            padding: $vertical-spacing 15px 10px 15px;
            h2 {
                font-family: $site-font-serif;
                font-weight: bold;
                font-size: 1.143em;
                margin: 0;
            }
            .score-highlight-body {
                margin: 25px 0;
            }
            .score-call-to-action {
                .score-button {
                    @include vertical-space(20px);
                }
            }
        }
    }
    &.highlight-horizontal {
        overflow: hidden;
        & > img {
            @media only screen and (max-width: $screen-sm-max) {
                width: auto;
            }
            @media only screen and (min-width: $screen-md-min) {
                float: left;
                width: 17%;
                padding-right: 5%;
            }
        }
        .caption {
            @media only screen and (min-width: $screen-md-min) {
                float: left;
                width: 78%;
                h2 {
                    margin-top: 0;
                }
            }
        }
        &.white {
            padding: 0 15px;
            & > img {
                @media only screen and (min-width: $screen-md-min) {
                    width: 25%;
                }
            }
            .caption {
                color: white;
                .score-button {
                    color: white;
                }
                @media only screen and (min-width: $screen-md-min) {
                    width: 70%;
                }
            }
            &:first-child {
                padding-top: 20px;
            }
        }
        &.red {
            & > img {
                border: 5px solid $site-light-gray;
                @media only screen and (min-width: $screen-md-min) {
                    width: 42%;
                    padding: 0;
                    margin-right: 5%;
                }
            }
            .caption {
                @media only screen and (min-width: $screen-md-min) {
                    width: 53%;
                }
                h2 {
                    font-family: $site-font-serif;
                    font-size: 1.286em;
                    //color: $site-red;
                    color: $site-navy;
                }
            }
        }
    }
}

.thumbnail-slider {
    .score-highlight {
        visibility: hidden;
    }
    &.slick-initialized {
        .score-highlight {
            visibility: visible;
        }
    }
}