.score-section-header {
    padding-top: 10px;
    @include vertical-space($vertical-spacing);
    .score-header-image {
        img {

        }
    }
    h2 {
        position: relative;
        font-size: 2em;
        text-transform: uppercase;
        &::before {
            content: '';
            position: absolute;
            top: -10px;
            left: 0;
            width: 70px;
            height: 4px;
            //background-color: $site-red;
            background-color: $site-navy;
        }
    }
    h3 {
        font-size: 1.85em;
        margin-top: 0;
    }
    &.section-header-no-line {
        h2 {
            &::before {
                display: none;
            }
        }
        h3 {
            margin-top: 10px;
        }
    }
    &.section-header-white-blue {
        h2 {
            text-transform: inherit;
        }
        h2, h3 {
            color: white;
            font-family: $site-font-sans-serif;
            font-size: 1.429em;
            font-weight: 300;
            &::before {
                background-color: $site-blue;
            }
        }
    }
    &.section-header-icon {
        padding-top: 0;
        @include vertical-space(0);
        h2 {
            padding: 15px 0 15px 30px;
            margin: 0;
            color: white;
            line-height: 40px;
            /*
            &::before {
                top: 15px;
                left: 20px;
                width: 40px;
                height: 40px;
                background: transparent url(../img/dekalb_medical_icon_2x.png) center no-repeat;
                background-size: 40px;
            }
            */
        }
    }
}

.score-right {
    .score-section-header {
        @media only screen and (min-width: 550px) and (max-width: $screen-sm-max) {
            margin-top: 90px;
        }
    }
}