.search-box {
  float: right;
  padding: 40px 0;
  @media only screen and (max-width: $screen-xs-max) {
    position: absolute;
    right: 15px;
    top: -97px;
    float: none;
    width: 100%;
    padding: 30px 0;
  }
  input {
    display: inline-block;
    position: relative;
    top: -2px;
    right: -3px;
    min-width: 215px;
    height: 35px;
    padding: 10px;
    border: 1px solid #c4c4c4;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    background-color: rgba(236,236,236,0.8);
    font-size: 1em;
    color: $site-dark-gray;
    &:focus {
      outline-color: $site-light-gray;
    }
    @media only screen and (max-width: $screen-xs-max) {
      display: none;
      position: absolute;
      top: 150%;
      min-width: calc(100% - 30px);
      right: 0;
    }
    @media only screen and (min-width: $screen-sm-min) {
      display: inline-block !important;
    }
  }
  button {
    width: 35px;
    height: 35px;
    padding: 8px;
    text-indent: -99999px;
    //border: 1px solid $site-red;
    border: 1px solid $site-navy;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    //background: $site-red url(../img/search_icon.png) center no-repeat;
    background: $site-navy url(../img/search_icon.png) center no-repeat;
    background-size: 18px;
    &:focus {
      outline: none;
    }
    @media only screen and (max-width: $screen-xs-max) {
      position: absolute;
      top: 43px;
      right: 0;
      border: none;
      background: transparent url(../img/search_icon_mobile.png) center no-repeat;
      background-size: 30px;
    }
    @media only screen and (max-width: 350px) {
      top: 36px;
    }
  }
  .alert{
    display: block;
    color: $site-red;
    margin: 0;
    padding: 0;
    @media only screen and (max-width: $screen-xs-max) {
      position: absolute;
      top: calc(150% + 35px);
      left: 30px;
    }
  }

  ::-webkit-input-placeholder {
    color: $site-dark-gray;
  }

  :-moz-placeholder { /* Firefox 18- */
    color: $site-dark-gray;
  }

  ::-moz-placeholder {  /* Firefox 19+ */
    color: $site-dark-gray;
  }

  :-ms-input-placeholder {
    color: $site-dark-gray;
  }
}