header {
    .menu-list-horizontal {
        @include vertical-space(0);
    }
    .utility-nav {
        .score-center {
            & > .score-style-box {
                padding: 10px 0;
            }
        }
        .score-menu-list {
            margin-top: 5px;
        }
        .utility-right {
            @include clearfix;
            padding: 0;
            @media only screen and (min-width: $screen-sm-min) {
                float: right;
            }
            .menu-list-horizontal, .score-content-spot, .score-button-menu {
                float: left;
                margin-bottom: 0;
            }
            .score-style-box.menu-list-horizontal .score-menu-list {
                li {
                    &:last-child {
                        a {
                            border-right: 1px solid white;
                            color: white;
                            @media only screen and (min-width: $screen-sm-min) {
                                padding-right: 5px;
                                margin-right: 5px;
                            }
                            @media only screen and (min-width: $screen-md-min) {
                                padding-right: 10px;
                                margin-right: 15px;
                            }
                            @media only screen and (min-width: 1094px) {
                                font-size: 1em;
                                padding-right: 15px;
                            }
                        }
                    }
                    a {

                    }
                }
            }
            .score-content-spot {
                margin: 5px 30px 0 0;
                font-size: 1em;
                font-weight: 100;
                color: white;
                @media only screen and (max-width: $screen-xs-max) {
                    margin: 5px 0 0 0;
                }
                @media only screen and (max-width: 350px) {
                    margin: 5px 0 10px 0;
                }
                @media only screen and (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
                    font-size: 0.85em;
                    margin: 8px 10px 0 5px;
                }
                @media only screen and (min-width: $screen-md-min) and (max-width: 1093px) {
                    margin: 5px 20px 0 0;
                }
                img {
                    width: 15px;
                    margin-right: 10px;
                    @media only screen and (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
                        margin-right: 5px;
                    }
                }
            }
            .score-button-menu {
                @media only screen and (max-width: $screen-xs-max) {
                    float: right;
                }
                @media only screen and (max-width: 350px) {
                    float: none;
                }
                @include button-menu-style;
            }
        }
    }
    .container.full-width .utility-nav div[class^="score-column"], .container.full-width .utility-nav div[class*=" score-column"] {
        max-width: 95%;
        margin: 0 auto;
        @media only screen and (min-width: 1380px) {
            max-width: 1320px;
        }
        .score-left {
            @include make-sm-column(5);
            @include make-md-column(6);
            @media only screen and (min-width: $screen-sm-min) {
                padding-left: 0;
            }
            @media only screen and (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
                width: 45%;
            }
        }
        .score-right {
            @include make-sm-column(7);
            @include make-md-column(6);
            @media only screen and (max-width: 429px) {
                padding: 0;
            }
            @media only screen and (min-width: $screen-sm-min) {
                padding-right: 0;
            }
            @media only screen and (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
                width: 55%;
            }
        }
    }
    div[class^="score-column"].wide-left-sm, div[class*=" score-column"].wide-left-sm {
        & > .score-left {
            @include make-sm-column(7);
            @include make-md-column(8);
        }
        & > .score-right {
            @include make-sm-column(5);
            @include make-md-column(4);
        }
    }
    .header-watermark {
        @include clearfix;
        background-size: 170px;
        background-repeat: no-repeat;
        background-position: right -50px;
        @media only screen and (max-width: $screen-xs-max) {
            background: none !important;
        }
    }
    .logo {
        width: auto;
        height: 80px;
        padding: 0;
        margin: 20px 0;
        @media only screen and (max-width: $screen-xs-max) {
            display: block;
            height: 60px;
            margin: 20px auto;
        }
        @media only screen and (max-width: 549px) {
            max-width: calc(100% - 110px);
            max-height: 60px;
        }
        @media only screen and (max-width: 350px) {
            max-width: 175px;
            height: auto;
            margin: 30px auto;
        }
    }
    .score-megamenu {
        @include animation-ease();
        @media only screen and (max-width: $screen-xs-max) {
            top: 30px;
        }
        .navbar-header {
            position: absolute;
            top: -103px;
            left: -15px;
            @media only screen and (max-width: 350px) {
                top: -98px;
                left: -20px;
            }
            @media only screen and (max-width: $screen-xs-max) {
                top: -90px;
            }
            @media only screen and (min-width: $screen-sm-min) {
                display: none;
            }
            .navbar-toggle {
                min-height: 35px;
                padding-top: 2px;
                padding-bottom: 17px;
                border: none;
                border-radius: 0;
                .icon-bar {
                    width: 30px;
                    height: 3px;
                    background-color: $site-medium-gray;
                }
                &::after {
                    content: 'Menu';
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    color: $site-medium-gray;
                    font-size: 0.786em;
                }
                &:hover {
                    background-color: transparent;
                    .icon-bar {
                        //background-color: $site-red;
                        background-color: $site-navy;
                    }
                }
                &:focus {
                    background-color: transparent;
                }
                &:not(.collapsed) {
                    padding-top: 6px;
                    padding-bottom: 26px;
                    .icon-bar {
                        &:first-child {
                            -webkit-transform: rotate(45deg);
                            -moz-transform: rotate(45deg);
                            -o-transform: rotate(45deg);
                            transform: rotate(45deg);
                            position: relative;
                            @media only screen and (max-width: $screen-xs-max) {
                                top: 5px;
                            }
                        }
                        &:nth-child(2) {
                            -webkit-transform: rotate(-45deg);
                            -moz-transform: rotate(-45deg);
                            -o-transform: rotate(-45deg);
                            transform: rotate(-45deg);
                            position: relative;
                            margin: 0;
                            @media only screen and (max-width: $screen-xs-max) {
                                top: 2px;
                            }
                        }
                        &:last-child {
                            display: none;
                        }
                    }
                }
            }
        }
        .navbar-collapse {
            border: none;
            @media only screen and (min-width: $screen-sm-min) {
                //background-color: $site-red;
                background-color: $site-navy;
            }
            &.in {
                @media only screen and (max-width: $screen-xs-max) {
                    @include vertical-space($vertical-spacing);
                }
            }
            & > .score-column1 {
                & > .score-center {
                    @media only screen and (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
                        padding-left: 5px;
                        padding-right: 5px;
                    }
                }
            }
            .navbar-nav {
                float: none;
                max-width: 1190px;
                margin: 0 auto;
                @media only screen and (max-width: $screen-xs-max) {
                    //background-color: $site-red;
                    background-color: $site-navy;
                }
                @media only screen and (min-width: $screen-sm-min) and (max-width: 1211px) {
                    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
                    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
                    display: -ms-flexbox;      /* TWEENER - IE 10 */
                    display: -webkit-flex;     /* NEW - Chrome */
                    display: flex;
                    -webkit-justify-content: space-between;
                    -moz-justify-content: space-between;
                    -ms-justify-content: space-between;
                    -o-justify-content: space-between;
                    justify-content: space-between;
                }
                & > li {
                    @include clearfix;
                    @media only screen and (max-width: $screen-xs-max) {
                        border-bottom: 1px solid rgba(236, 236, 236, 0.35);
                    }
                    & > a:not(.dropdown-toggle) {
                        padding: 20px 25px;
                        font-family: $site-font-serif;
                        font-size: 1.143em;
                        text-transform: uppercase;
                        color: white;
                        @media only screen and (max-width: $screen-xs-max) {
                            width: 85%;
                        }
                        @media only screen and (min-width: $screen-sm-min) and (max-width: 1211px) {
                            padding: 20px 10px;
                            font-size: 0.825em;
                        }
                        @media only screen and (min-width: 870px) and (max-width: 1011px) {
                            font-size: 0.95em;
                        }
                        @media only screen and (min-width: 1012px) and (max-width: 1211px) {
                            font-size: 1em;
                            margin-left: 0;
                        }
                    }
                    &.score-megamenu-dropdown {
                        & > a:not(.dropdown-toggle) {
                            padding: 20px 10px 20px 15px;
                            margin-left: 10px;
                            @media only screen and (min-width: $screen-sm-min) and (max-width: 1211px) {
                                padding: 20px 0 20px 15px;
                                margin-left: 0;
                            }
                        }
                        .dropdown-toggle {
                            width: 16px;
                            height: 58px;
                            margin-right: 15px;
                            background: url(../img/nav_down.png) center no-repeat;
                            background-size: 16px;
                            @media only screen and (min-width: $screen-sm-min) and (max-width: 1211px) {
                                width: 10px;
                                margin-right: 0;
                                background-size: 10px;
                            }
                            .caret {
                                display: none;
                            }
                        }
                    }
                    &:first-child {
                        & > a:not(.dropdown-toggle) {
                            margin: 0;
                        }
                    }
                    &.open {
                        @media only screen and (min-width: $screen-sm-min) {
                            //background-color: #981732;
                            background-color: $site-navy;
                        }
                        & > a {
                            background-color: transparent;
                            &.dropdown-toggle {
                                @media only screen and (max-width: $screen-xs-max) {
                                    background: url(../img/nav_up.png) center no-repeat;
                                    background-size: 16px;
                                }
                            }
                        }
                        .dropdown-menu {
                            border-radius: 0;
                            @media only screen and (max-width: $screen-xs-max) {
                                background-color: white;
                            }
                            @media only screen and (min-width: $screen-sm-min) {
                                &::after {
                                    content: '';
                                    position: absolute;
                                    top: 100%;
                                    width: 100%;
                                    height: 100vh;
                                    background-color: rgba(89, 89, 89, 0.9);
                                    z-index: 10;
                                }
                            }
                        }
                    }
                }
            }
            & > .score-column1 {
                @media only screen and (max-width: $screen-xs-max) {
                    & > .score-center {
                        padding: 0;
                    }
                }
                &:last-child {
                    .navbar-nav {
                        padding: 10px 0;
                        background-color: $site-dark-gray;
                        & > li {
                            border-bottom: none;
                            a {
                                font-family: $site-font-sans-serif;
                                font-weight: 300;
                                padding: 9px 20px;
                                text-transform: inherit;
                            }
                        }
                    }
                }
            }
        }
    }
    .score-megamenu-content {
        @extend .container;
        padding-top: 20px;
    }
}