//Global custom variables

//default margin on content components
$vertical-spacing: 30px;

$site-font-serif: Georgia, Times, serif;
$site-font-sans-serif: 'Roboto', sans-serif;

$site-red: #bf1e40;
$site-blue: #87afbf;
$site-light-gray: #ececec;
$site-medium-gray: #818181;
$site-dark-gray: #595959;

$site-navy: #143b83;
/*
$site-medium-blue: #245ebc;
$site-light-blue: #3fb3e3;
$site-dark-grey: #6f6f6f;
$site-light-gray: #f4f4f4;
$site-gold: #e3c84d;
*/

$background-positions: (
        center-center: center center,
        center-top: center top,
        center-bottom: center bottom,
        left-center: left center,
        right-center: right center,
        left-top: left top,
        right-top: right top,
        left-bottom: left bottom,
        right-bottom: right bottom
);


//Global custom mixins
@mixin vertical-space($margin) {
	margin-bottom: $margin;
}

@mixin animation-ease() {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -ms-transition: none;
}

@mixin button-menu-style() {
  button {
    height: 30px;
    padding: 7px;
    @include vertical-space(0);
    border-color: $site-blue;
    font-weight: bold;
    font-size: 1em;
    line-height: 1;
    background-color: $site-blue;
    color: white;
    &:first-child:not(:last-child):not(.dropdown-toggle) {
      border-bottom-right-radius: 3px;
      border-top-right-radius: 3px;
    }
    &:focus {
      outline: none;
    }
    .filter-option {
      max-width: 90%;
    }
  }
  .dropdown-toggle {
    .caret {
      width: 16px;
      height: 10px;
      margin-left: 10px;
      margin-top: -5px;
      border: none;
      background: url(../img/nav_down_bold.png) center no-repeat;
      background-size: 16px;
    }
  }
  .dropdown-menu {
    left: auto;
    right: 0;
    padding: 0;
    li {
      a {
        padding: 10px;
        font-size: 0.857em;
        color: $site-dark-gray;
        &:hover, &:focus {
            //background-color: $site-red;
            background-color: $site-navy;
            color: white;
            opacity: 1;
        }
      }
    }
  }
}