.services-listing-component {
	.score-highlight {
		@media only screen and (min-width: $screen-sm-min) {
			width: 40%;
			float: left;
		}
	}
	#results .score-highlight {
		width: auto;
		float: none;
	}
}
.service-listing-results {
  #pager {
    @media only screen and (min-width: $screen-sm-min) {
      float: left;
    }
    & + p {
      @media only screen and (min-width: $screen-sm-min) {
        float: left;
        line-height: 78px;
        margin-left: 15px;
      }
    }
  }
  p {
    a {
        //color: $site-red;
        color: $site-navy;
        text-decoration: underline;
    }
  }
}