.news-page {
  h1, h2 {
    position: relative;
    font-size: 2em;
    text-transform: uppercase;
    &::before {
      content: '';
      position: absolute;
      top: -10px;
      left: 0;
      width: 70px;
      height: 4px;
      //background-color: $site-red;
      background-color: $site-navy;
    }
  }
  h2 {
    margin-top: 50px;
  }
  img {
    float: right;
    margin: 10px 0 10px 10px;
  }
}

.news-sidebar {
  & > div {
    @include vertical-space(20px);
  }
  h4 {
    font-family: $site-font-serif;
    font-size: 18px;
  }
  a {
    display: block;
    text-decoration: underline;
    //color: $site-red;
    color: $site-navy;
  }
}

.news-feed {
  padding: 15px;
  border-radius: 3px;
  //border-bottom: 5px solid $site-red;
  border-bottom: 5px solid $site-navy;
  background-color: $site-light-gray;
  -webkit-box-shadow: 5px 5px 0 #b7b7b7;
  box-shadow: 5px 5px 0 #b7b7b7;
  @include vertical-space(40px);
  h5 {
    font-family: $site-font-serif;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    @include vertical-space(25px);
  }
  .news-item {
    padding-bottom: 30px;
    @include vertical-space(20px);
    border-bottom: 1px solid rgba(129, 129, 129, 0.8);
    img {
      width: 100%;
      @include vertical-space(20px);
    }
    h6 {
      font-weight: bold;
      font-size: 16px;
    }
    p {
      @include vertical-space(25px);
    }
    &:last-of-type {
      border-bottom: none;
    }
  }
  a {
    display: block;
    //color: $site-red;
    color: $site-navy;
    text-decoration: underline;
    &.visit-press-room {
      @include vertical-space(15px);
    }
  }
  &.white {
    background-color: white;
    border-bottom: none;
    h5 {
      position: relative;
      font-size: 24px;
      font-weight: normal;
      &::before {
        content: '';
        position: absolute;
        top: -10px;
        left: 0;
        width: 70px;
        height: 4px;
        //background-color: $site-red;
        background-color: $site-navy;
      }
    }
  }
}