﻿.score-hero {
    //@extend .jumbotron; //inherit bootstrap
    @include vertical-space($vertical-spacing);
    background-color: transparent;
    .score-hero-image {
        img {

        }
    }
    h1 {
        position: relative;
        font-size: 2em;
        text-transform: uppercase;
        &::before {
            content: '';
            position: absolute;
            top: -10px;
            left: 0;
            width: 70px;
            height: 4px;
            //background-color: $site-red;
            background-color: $site-navy;
        }
    }
    h2 {
        font-size: 1.85em;
        margin-top: 0;
    }
	.score-hero-body {
        margin: $vertical-spacing 0;
    }
    .score-call-to-action {

    }
}
.score-full-width-hero {
    @extend .jumbotron; //inherit bootstrap
    @include vertical-space($vertical-spacing);
    min-height: 350px;
    padding-top: 130px;
    @media only screen and (min-width: $screen-sm-min) {
        min-height: 480px;
    }
    .score-hero-image {
        img {

        }
    }
    h1 {

    }
    h2 {

    }
    .score-hero-body {

    }
    .score-call-to-action {

    }
}
.score-section-hero {
    //@extend .jumbotron; //inherit bootstrap
    @include vertical-space($vertical-spacing);
    background-color: transparent;
    .score-hero-image {
        img {

        }
    }
    h2, h3 {
        font-size: 1.429em;
        font-weight: bold;
        color: white;
        text-transform: uppercase;
    }
    .score-hero-body {
        @include vertical-space(50px);
        font-family: $site-font-sans-serif;
        font-size: 1.143em;
        font-weight: 300;
        text-shadow: 1px 1px 0 rgba(0,0,0,0.5);
        color: white;
    }
    .score-call-to-action {

    }
}