.thumbnail-slider {
	// initial styling for highlight
	.score-highlight {
		@media only screen and (min-width: $screen-sm-min) {
			width: 30%;
			float: left;
			&.slick-slide {
				width: auto;
				//float: none;
			}
		}
	}

  @include vertical-space($vertical-spacing);
  @media only screen and (max-width: $screen-xs-max) {
    max-width: 500px;
    margin: 0 auto $vertical-spacing auto;
  }
  @media only screen and (max-width: 600px) {
    max-width: 90%;
  }
  .slick-slide {
    padding: 0 25px;
    &.highlight-blue-overlay {
      .caption {
        h2 {
          left: 25px;
          right: 25px;
        }
      }
    }
    &:focus {
      outline: none;
    }
  }
  .slick-prev, .slick-next {
    width: 35px;
    height: 70px;
    z-index: 10;
    &::before {
      display: none;
    }
    &.slick-disabled {
      opacity: 0.2;
      cursor: default;
    }
  }
  .slick-prev {
    background: url(../img/slick_previous_blue.png) center no-repeat;
    background-size: 35px;
    @media only screen and (min-width: 1050px) {
      left: -50px;
    }
    @media only screen and (min-width: 1120px) {
      left: -80px;
    }
    @media only screen and (min-width: $screen-lg) {
      left: -20px;
    }
    @media only screen and (min-width: 1270px) {
      left: -50px;
    }
    @media only screen and (min-width: 1900px) {
      left: -100px;
    }
  }
  .slick-next {
    background: url(../img/slick_next_blue.png) center no-repeat;
    background-size: 35px;
    @media only screen and (min-width: 1050px) {
      right: -50px;
    }
    @media only screen and (min-width: 1120px) {
      right: -80px;
    }
    @media only screen and (min-width: $screen-lg) {
      right: -20px;
    }
    @media only screen and (min-width: 1270px) {
      right: -50px;
    }
    @media only screen and (min-width: 1900px) {
      right: -100px;
    }
  }
}