.google-map-canvas, .score-location{
  width: 100%;
  height: 400px;
  min-width: 300px;
  border: 1px solid #333;
  @include vertical-space(15px);
    &.placeholder-text {
        font-size: 78px;
        color: gray;
        text-align: center;
        vertical-align: middle;
        font-weight: bold;
        font-style: italic;
        border: solid 1px gray;
        line-height: 400px;
        display: none;
    }
}
.location-map {
  padding: 30px;
  background-color: $site-dark-gray;
  @media only screen and (min-width: $screen-md-min) {
    padding: 45px 75px 0 75px;
  }
  .score-button {
    @include vertical-space(15px);
    border: none;
    background-color: $site-medium-gray;
    color: white;
    -webkit-box-shadow: 0 2px 0 #474747;
    box-shadow: 0 2px 0 #474747;
    white-space: normal;
    @media only screen and (min-width: $screen-md-min) {
      margin-right: 13px;
      &:last-child {
        margin-right: 0;
      }
    }
    &.active {
      border: none;
      //background-color: $site-red;
      background-color: $site-navy;
      color: white;
      -webkit-box-shadow: 0 3px 0 $site-navy;
      box-shadow: 0 3px 0 $site-navy;
    }
  }
}
.gm-style-iw.dekalb {
  top: 0 !important;
  left: 25px !important;
  right: 0;
  bottom: 0;
  width: 245px !important;
  min-height: 230px;
  max-height: 280px;
  z-index: -1;
  border-radius: 4px;
  background-color: white;
  -webkit-box-shadow: 4px 8px 4px rgba(43, 43, 43, 0.4);
  box-shadow: 4px 8px 4px rgba(43, 43, 43, 0.4);
  & + div, & + div img {
    display: none;
    width: 0 !important;
    height: 0 !important;
  }
  & > div, & > div > div {
    overflow: visible !important;
  }
  .info-body, a {
    padding: 0 15px;
  }
  img {
    width: 245px;
    height: 100px;
    margin-bottom: 13px;
  }
  a {
    display: block;
    //color: $site-red;
    color: $site-navy;
    &:first-of-type {
      font-size: 16px;
      font-weight: 500;
    }
    &:last-of-type {
      font-size: 14px;
      text-decoration: underline;
      font-weight: 400;
    }
  }
  p {
    font-size: 14px;
    font-weight: 400;
  }
}