.score-accordion {
    @extend .panel-group; //inherit bootstrap
    @include vertical-space($vertical-spacing);
    .panel + .panel {
        margin-top: 2px;
    }
    .score-accordion-panel {
        @extend .panel; //inherit bootstrap
        @extend .panel-default; //inherit bootstrap
        @include vertical-space(2px);
        border-width: 1px 0 0 0;
        border-radius: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
        .panel-heading {
            padding: 0;
            border-radius: 0;
            .panel-title {
                border-width: 1px 0;
                a {
                    display: block;
                    padding: 18px 15px;
                    line-height: 20px;
                    font-family: $site-font-sans-serif;
                    font-weight: 500;
                    font-size: 1em;
                    //-webkit-box-shadow: inset 0 -2px 10px rgba(0,0,0,0.2);
                    //-moz-box-shadow: inset 0 -2px 10px rgba(0,0,0,0.2);
                    //box-shadow: inset 0 -2px 10px rgba(0,0,0,0.2);
                    @include animation-ease;
                    &[aria-expanded="true"], &[aria-expanded="false"] {
                        background-size: 30px;
                        background-position: 98% center;
                        background-repeat: no-repeat;
                    }
                    &[aria-expanded="true"] {
                        background-image: url(../img/accordion_up_2x.png), linear-gradient(to bottom, transparent 80%, rgba(0,0,0,0.1) 100%);
                        background-color: $site-blue;
                        color: white;
                    }
                    &[aria-expanded="false"] {
                        background-image: url(../img/accordion_down_2x.png);
                        background-color: $site-light-gray;
                        color: $site-dark-gray;
                        &:hover, &:focus {
                            opacity: 0.7;
                        }
                    }
                    &:hover, &:focus {
                        text-decoration: none;
                    }
                }
            }
            & + .panel-collapse {
                .panel-body {
                    padding: 30px 15px;
                }
            }
        }
    }
    &.dekalb-accordion {
        .score-accordion-panel {
            .panel-heading {
                .panel-title {
                    a {
                        position: relative;
                        padding: 12px 20px;
                        line-height: 40px;
                        font-size: 1.625em;
                        &:focus {
                            opacity: 1;
                        }
                        & > p {
                            font-size: 0.538em; //14px
                            text-transform: uppercase;
                            line-height: 1;
                            font-weight: 300;
                            @include vertical-space(0);
                            &:first-child {
                                text-transform: none;
                                font-size: 1em;
                                font-weight: 500;
                                @include vertical-space(10px);
                            }
                        }
                        @media only screen and (max-width: 499px) {
                            font-size: 1.325em;
                        }
                        &[aria-expanded="true"], &[aria-expanded="false"] {
                            background: linear-gradient(to bottom, transparent 80%, rgba(0,0,0,0.1) 100%);
                            .panel-icon {
                                display: block;
                                position: absolute;
                                top: 50%;
                                right: 15px;
                                margin-top: -20px;
                                width: 40px;
                                height: 40px;
                                background-size: 40px;
                                @include animation-ease;
                            }
                        }
                        &[aria-expanded="true"] {
														background-color: $site-blue;
                            .panel-icon {
                                background-image: url(../img/accordion_up_2x.png);
                                background-color: $site-blue;
                                color: white;
                            }
                        }
                        &[aria-expanded="false"] {
														background-color: $site-light-gray;
                            .panel-icon {
                                background-image: url(../img/accordion_down_2x.png);
                                background-color: $site-light-gray;
                                color: $site-dark-gray;
                                &:hover, &:focus {
                                    opacity: 0.7;
                                }
                            }
                        }
                        &[aria-expanded="false"] {
                            .Panel-subtitle {
                                color: $site-blue;
                            }
                        }
                    }
                }
            }
            &.dekalb-disabled {
                .panel-heading {
                    .panel-title {
                        a {
                            & > p {
                                opacity: 0.3;
                            }
                            &:hover {
                                opacity: 1;
                                cursor: default;
                            }
                            &[aria-expanded="true"], &[aria-expanded="false"] {
                                .panel-icon {
                                    opacity: 1;
                                    background-image: url(../img/accordion_info_2x.png);
                                    &:hover {
                                        cursor: pointer;
                                    }
                                }
                            }
                        }
                    }
                }
                .tooltip {
                    min-width: 260px;
                    .tooltip-arrow {
                        border-left-color: $site-dark-gray;
                    }
                    .tooltip-inner {
                        min-width: 250px;
                        padding: 20px;
                        text-align: left;
                        background-color: $site-dark-gray;
                        -webkit-box-shadow: 4px 4px 4px rgba(43, 43, 43, 0.3);
                        box-shadow: 4px 4px 4px rgba(43, 43, 43, 0.3);
                        p {
                            font-family: $site-font-sans-serif;
                            color: white;
                            font-size: 1.33333em;
                            font-weight: 300;
                            &:last-child {
                                @include vertical-space(0);
                            }
                        }
                    }
                }
            }
        }
    }
}