.btn-blue {
  border: none;
  background-color: $site-blue;
  color: white;
  -webkit-box-shadow: 0 2px 4px -2px rgba(0,0,0,0.4);
  box-shadow: 0 2px 4px -2px rgba(0,0,0,0.4);
}

.search-results {
  @include vertical-space(50px);
  .filter {
    @include clearfix;
    @include vertical-space(15px);
    label {
      display: block;
    }
    .filter-section {
      @media only screen and (min-width: $screen-sm-min) {
        float: left;
        width: 360px;
        max-width: 50%;
      }
      @media only screen and (min-width: $screen-md-min) {
        width: 390px;
      }
      input, .btn-group {
        width: 80%;
      }
      &:first-child {
        @media only screen and (max-width: $screen-xs-max) {
          @include vertical-space(15px);
        }
      }
    }
    input {
      height: 40px;
      padding: 10px;
      border: 1px solid #c4c4c4;
      border-radius: 3px;
    }
    .btn-group {
      @include button-menu-style;
      button {
        text-transform: uppercase;
      }
      .caret {
        margin-top: -5px;
      }
      .dropdown-menu {
        li {
          a {
            padding: 10px;
          }
        }
      }
    }
    & + .score-button {
      padding: 8px 30px;
      @include vertical-space(45px);
    }
  }
  .score-lead {
    @include vertical-space(8px);
    .keyword {
        //color: $site-red;
        color: $site-navy;
    }
  }
  .search-result {
    @include vertical-space(25px);
    a {
        //color: $site-red;
        color: $site-navy;
      &:first-child {
        font-size: 1.286em;
        font-family: $site-font-serif;
        text-decoration: underline;
      }
    }
  }
  .recommended-results {
    @include vertical-space(45px);
  }
}

.results-summary {
  margin: 15px auto 25px auto;
  .pages, .results {
    display: inline-block;
  }
  .pages {
    padding-right: 8px;
    margin-right: 5px;
    border-right: 1px solid $site-dark-gray;
  }
}
.pagination {
  @include clearfix;
  & > li {
    float: left;
    width: 33px;
    height: 34px;
    text-align: center;
    border: 1px solid #9b9b9b;
    border-width: 1px 0 1px 1px;
    @include animation-ease;
    & > a {
      display: inline-block;
      float: none;
      width: 33px;
      padding: 0;
      line-height: 32px;
      border: none;
      background-color: transparent;
      color: $site-dark-gray;
      &:hover, &:focus {
        opacity: 1;
        border-color: #9b9b9b;
        color: $site-dark-gray;
        background-color: transparent;
      }
    }
    &:hover {
      cursor: pointer;
      background-color: $site-light-gray;
    }
    &.active {
        //background-color: $site-red;
        //border-color: $site-red;
        background-color: $site-navy;
        border-color: $site-navy;
          a {
        color: white;
        background-color: transparent;
        &:hover {
          background-color: transparent;
        }
      }
    }
    &.disabled, &.active {
      &:hover {
        cursor: default;
      }
      a {
        cursor: default;
        &:hover {
          opacity: 1;
          color: white;
        }
      }
    }
  }
  .previous, .next, .first, .last, .paginationjs-prev, .paginationjs-next {
    a {
      float: left;
    }
  }
  .previous, .first, .paginationjs-prev {
    a {
      text-indent: -9999px;
      background: url(../img/pagination_previous.png) center;
      background-repeat: no-repeat;
      background-size: 6px;
    }
    &.disabled {
      a {
        background: url(../img/pagination_previous_disabled.png) center;
        background-repeat: no-repeat;
        background-size: 6px;
      }
    }
  }
  .next, .last, .paginationjs-next {
    a {
      text-indent: -9999px;
      border-right-width: 1px;
      background: url(../img/pagination_next.png) center;
      background-repeat: no-repeat;
      background-size: 6px;
    }
    &.disabled {
      a {
        background: url(../img/pagination_next_disabled.png) center;
        background-repeat: no-repeat;
        background-size: 6px;
      }
    }
  }
  .paginationjs-next {
    a {
      border-right: 1px solid #9b9b9b;
    }
  }
  .first, .first.disabled, .last, .last.disabled {
    a {
      position: relative;
      width: 100%;
      background-position: -2px;
      background-repeat: repeat-x;
      &::before, &::after {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        width: calc((100% - 12px) / 2);
        background-color: white;
        @include animation-ease;
      }
      &::before {
        left: 0;
      }
      &::after {
        right: 0;
      }
      &:hover {
        &::before, &::after {
          background-color: $site-light-gray;
        }
      }
    }
  }
  .first, .paginationjs-prev {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
  }
  .last, .paginationjs-next {
    border-right-width: 1px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    a {
      &::before {
        border-left: 1px solid #9b9b9b;
      }
    }
  }
  .disabled {
    a {
        background-color: transparent;
        &:hover, &:focus {
            background-color: transparent;
            cursor: default;
        }
    }
  }
}