.form-group {
    position: relative;
    @include clearfix;

    .form-group.short {
        @media only screen and (min-width: $screen-sm-min) {
            float: left;
            width: 50%;
            margin-bottom: 0;

            &:first-child {
                padding-right: 10px;
            }

            &:last-child {
                padding-left: 10px;
            }
        }

        label {
            display: block;
        }

        input, .btn-group {
            width: 100%;
        }

        input {
            height: 30px;
            padding: 10px;
            border: 1px solid #c4c4c4;
            border-radius: 3px;
        }

        .btn {
            @include animation-ease;
            text-transform: uppercase;

            &:hover {
                color: white;
                opacity: 0.8;
            }
        }

        .btn-group.bootstrap-select {
            button {
                @media only screen and (min-width: $screen-md-min) and (max-width: $screen-md-max) {
                    font-size: 0.85em;
                }
            }

            .dropdown-toggle {
                .caret {
                    margin-top: -4px;
                }
            }

            .dropdown-menu {
                li {
                    a {
                        padding: 10px;
                    }
                }
            }
        }
    }
}

.doctor-search, .doctor-search-results, .location-search, .location-search-results {
    @include vertical-space(45px);
}

.doctor-search, .location-search {
    form {
        @media only screen and (min-width: $screen-sm-min) {
            @include vertical-space($vertical-spacing);
        }

        & > .form-group {
            @media only screen and (max-width: $screen-xs-max) {
                margin-bottom: 0;
            }
        }
    }

    .score-button {
        padding: 8px 30px;
        @include vertical-space(45px);
    }

    #btnSearch {
        display: inline;
    }

    .field-validation-error {
        padding: 0 20px;
        cursor: default;
    }
}

.doctor-search-results {
    .result {
        img.doctor-photo {
            width: 100px;
        }

        .dmpg-logo {
            //position: absolute;
            //right: 25px;
            //top: 0;
            margin: 10px 0;
        }
    }
}

.doctor-search-results {
    .result-list {
        @include vertical-space($vertical-spacing);
    }

    .result {
        @include vertical-space(45px);

        @media only screen and (min-width: $screen-sm-min) {
            @include vertical-space(60px);
        }

        div[class^="score-column"], div[class*=" score-column"].wide-right {
            & > .score-left {
                @include make-sm-column(3);
            }

            & > .score-right {
                @include make-sm-column(9);
            }

            @media only screen and (min-width: $screen-md-min) {
                & > .score-left {
                    //max-width: 20%;
                }
            }
        }

        .score-button {
            font-size: 1em;
            padding: 7px 13px;
            margin-top: 10px;
        }

        .description {
            & > a {
                display: block;
                font-family: $site-font-sans-serif;
                font-size: 1.357em;
                text-decoration: underline;
                @include vertical-space(8px);
            }

            p {
                font-size: 0.85em;
            }

            h3 {
                font-size: 1.357em;
                margin-top: 0;
            }
        }

        .office-locations {
            overflow: hidden;
        }

        .location {
            margin-bottom: 15px;

            @media only screen and (min-width: $screen-sm-min) {
                float: left;
                width: 50%;
            }

            strong {
                font-size: 0.929em;

                span {
                    font-weight: normal;
                }
            }

            p {
                margin-bottom: 0;
            }

            a {                
                text-decoration: underline;
                font-size: 0.85em;
            }
        }
    }
}

.location-search-results {
    .result-list {
        @include vertical-space($vertical-spacing);
    }

    .result {
        @include vertical-space(45px);

        @media only screen and (min-width: $screen-sm-min) {
            @include vertical-space(60px);
        }

        div[class^="score-column"], div[class*=" score-column"].wide-right {
            & > .score-left {
                @include make-sm-column(3);
            }

            & > .score-right {
                @include make-sm-column(9);
            }

            @media only screen and (min-width: $screen-md-min) {
                & > .score-left {
                    //max-width: 20%;
                }
            }
        }

        .score-button {
            font-size: 1em;
            padding: 7px 13px;
            margin-top: 10px;
        }

        .description {
            & > a {
                display: block;
                font-family: $site-font-sans-serif;
                font-size: 1.357em;
                text-decoration: underline;
                @include vertical-space(8px);
            }

            p {
                font-size: 0.85em;
                @include vertical-space($vertical-spacing);
            }

            h3 {
                font-size: 1.357em;
                margin-top: 0;
            }
        }

        .office-locations {
            overflow: hidden;
        }

        .location {
            margin-bottom: 15px;

            @media only screen and (min-width: $screen-sm-min) {
                float: left;
                width: 50%;
            }

            strong {
                font-size: 0.929em;

                span {
                    font-weight: normal;
                }
            }

            p {
                margin-bottom: 0;
            }

            a {
                display: block;
                text-decoration: underline;
                font-size: 0.85em;
            }
        }
    }
}

.location-search-results {
    .result {
        .description {
            p {
                font-size: 1em;
            }
        }

        .location {
            a {
                font-size: 1em;
            }
        }
    }
}

.location-detail {
    @include vertical-space($vertical-spacing);

    .score-document-header {
        display: inline-block;
        padding-top: 0;
    }

    img {
        @media only screen and (min-width: $screen-sm-min) {
            float: right;
        }
    }

    .location {
        p {
            @include vertical-space(0);
        }

        a {
            display: block;
            text-decoration: underline;
        }

        h4 {
            margin-top: $vertical-spacing;

            &:first-child {
                margin-top: 10px;
            }
        }
    }
}

.field-validation-error, .error-block {
    padding-top: 5px;

    span {
        color: $site-red;
    }
}

.error {
    .field-validation-error, .error-block {
        display: block;
    }
}

.location-map.dmpg {
    padding: 25px 40px 40px 40px;

    @media only screen and (min-width: $screen-md-min) {
        padding: 25px 75px 40px 75px;
    }
}

.dmpg-search {
   @include clearfix;
    text-align: center;

   @media only screen and (min-width: $screen-sm-min) {
       @include vertical-space($vertical-spacing);
   }

   @media only screen and (min-width: $screen-md-min) {
       width: 98%;
       margin: 0 auto $vertical-spacing auto;
   }

   .form-group {
        display: inline-block;
        text-align: left;
       @media only screen and (min-width: $screen-md-min) {
           margin: 0 25px 0 0;
       }

       @media only screen and (min-width: $screen-lg) {
           margin: 0 30px 0 0;
       }

        &:nth-of-type(3) {
            .bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
                @media only screen and (min-width: $screen-md-min) {
                    width: 145px;
                }
            }
        }
    }

    label {
        display: block;
        margin: 0 0 5px 0;
        font-weight: normal;
        color: white;

        @media only screen and (min-width: $screen-md-min) {
            display: inline-block;
            line-height: 32px;
            margin: 0 15px 0 0;
        }
    }

    .bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
        height: 32px;
        width: 100%;

        @media only screen and (min-width: $screen-md-min) {
            width: 180px;
        }

        button.btn-white {
            position: relative;
            background-color: white;
            border: none;
            padding-left: 12px;
            color: $site-dark-gray;
            font-weight: normal;

            &::after {
                content: '';
                position: absolute;
                width: 1px;
                top: 0;
                bottom: 0;
                right: 26px;
                background-color: $site-dark-gray;
            }
        }

        .caret {
            right: 5px;
            margin-top: -4px;
            background-image: url(../img/dropdown_navy.png);
            background-size: 8px;
        }
    }

    input {
        display: inline-block;
        float: left;
        position: relative;
        width: calc(100% - 32px);
        height: 32px;
        padding: 10px;
        border: none;
        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px;
        font-size: 1em;
        color: $site-dark-gray;

        @media only screen and (min-width: $screen-md-min) {
            float: none;
            width: 90px;
        }

        &:focus {
            outline-color: $site-light-gray;
        }

        & + button {
            position: relative;
            width: 32px;
            height: 32px;
            //border: 1px solid $site-red;
            border: 1px solid $site-navy;
            border-top-right-radius: 3px;
            border-bottom-right-radius: 3px;
            //background: $site-red url(../img/search_icon.png) center no-repeat;
            background: $site-navy url(../img/search_icon.png) center no-repeat;
            background-size: 18px;

            &:focus {
                outline: none;
            }

            @media only screen and (min-width: $screen-md-min) {
                left: -3px;
            }

            img {
                width: 17px;
            }
        }
    }

    .field-validation-error, .error-block {
        display: inline-block;
        background-color: $site-red;
        padding: 0 5px;
        margin-top: 3px;

        @media only screen and (min-width: $screen-md-min) {
            position: absolute;
        }

        span {
            color: white;
        }
    }
}

.dmpg-location-listing {
    .score-section-header {
        @include vertical-space(15px);
    }

    .results {
        font-style: italic;
        font-size: 16px;
        //color: $site-red;
        color: $site-navy;
        @include vertical-space($vertical-spacing);
    }

    .result-list {
        @media only screen and (min-width: $screen-sm-min) {
            @include clearfix;
        }
    }

    .location {
        @media only screen and (max-width: $screen-xs-max) {
            padding-bottom: 10px;
            margin-bottom: 20px;
            border-bottom: 1px solid #ddd;
        }

        @media only screen and (min-width: $screen-sm-min) {
            float: left;
            width: 33.333333%;
            min-height: 130px;
        }

        a {
            display: block;
            //color: $site-red;
            color: $site-navy;
            font-size: 14px;
            text-decoration: underline;
        }

        .location-name {
            font-size: 16px;
            font-weight: bold;
            text-decoration: none;
        }
    }
}

.doctor-details {
    .score-document-header {
        display: inline-block;
        padding-top: 0;
        @include vertical-space(0);
    }

    img {
        @media only screen and (min-width: $screen-sm-min) {
            //float: right;
            margin-top: 10px;
            margin-bottom: 10px;
        }

        &.logo {
            display: block;
            max-width: 150px;
            @include vertical-space($vertical-spacing);

            @media only screen and (min-width: $screen-sm-min) {
                float: none;
                margin-top: 10px;
            }
        }
    }

    a {
        text-decoration: underline;
    }

    .location {
        @include vertical-space($vertical-spacing);

        p {
            @include vertical-space(0);
        }
    }

    .tab-content {
        padding: 20px 0;

        strong {
            display: block;
        }
    }
}

.doctor-details + .score-tab {
    .tab-content {
        h4.title {
            font-weight: bold;
            display: block;
            font-size: 100%;
            text-align: left;
            border: none;
            margin: 5px 0;
            padding: 0;
            color: #595959;

            &:hover {
                cursor: default;
            }
        }

        ul {
            list-style-type: none;
            padding-left: 10px;
        }
    }
}
