.score-document-header, .score-document-header-with-subtitle {
    //@extend .page-header; //inherit bootstrap
    padding-top: 10px;
    @include vertical-space($vertical-spacing);
    .score-header-image {
        img {

        }
    }
    h1 {
        position: relative;
        font-size: 2em;
        text-transform: uppercase;
        &::before {
            content: '';
            position: absolute;
            top: -10px;
            left: 0;
            width: 70px;
            height: 4px;
            //background-color: $site-red;
            background-color: $site-navy;
        }
    }
    h2 {
        font-size: 1.85em;
        margin-top: 0;
    }
}