.score-button {
    @extend .btn; //inherit bootstrap
    @extend .btn-default; //inherit bootstrap
    @include vertical-space($vertical-spacing);
    padding: 12px 15px;
    font-size: 1.15em;
    &:hover, &:focus {
        text-decoration: none;
    }
    &.btn-blue {
        border: none;
        background-color: $site-blue;
        color: white;
        -webkit-box-shadow: 0 2px 4px -2px rgba(0,0,0,0.4);
        box-shadow: 0 2px 4px -2px rgba(0,0,0,0.4);
    }
    &.btn-gray {
        border: none;
        background-color: $site-medium-gray;
        color: white;
        -webkit-box-shadow: 0 2px 0 $site-dark-gray;
        box-shadow: 0 2px 0 $site-dark-gray;
    }
    &.btn-white {
        border: 1px solid $site-medium-gray;
        color: $site-dark-gray;
        &:hover {
            background-color: $site-dark-gray;
            color: white;
        }
    }
    &.btn-red {
        display: block;
        padding-top: 10px;
        padding-bottom: 10px;
        border: none;
        background-color: $site-navy;
        //background-color: $site-red;
        color: white;
        font-size: 1em;
        text-transform: uppercase;
        //-webkit-box-shadow: 0 3px 0 #86031e;
        //box-shadow: 0 3px 0 #86031e;
        -webkit-box-shadow: 0 3px 0 $site-navy;
        box-shadow: 0 3px 0 $site-navy;
        img {
            margin-right: 9px;
        }
    }
    &.btn-blue-transparent {
        border: 1px solid $site-blue;
        color: $site-blue;
        &:hover {
            background-color: $site-blue;
            color: white;
        }
    }
    &.btn-link {
        padding: 5px 0;
        //color: $site-red;
        color: $site-navy;
        font-size: 1em;
        text-decoration: underline;
        text-align: left;
        &.white {
            color: white;
            &.no-td {
                text-decoration: none;
                font-weight: 300;
            }
        }
    }
}
.score-image-button {
    &.back-arrow {
        float: left;
        width: 8px;
        margin-right: 15px;
        img {
            width: 100%;
        }
    }
}
.score-center-text {
    .btn-gray {
        @media only screen and (max-width: $screen-xs-max) {
            display: block;
        }
        @media only screen and (max-width: $screen-sm-max) {
            margin-bottom: 15px;
        }
        @media only screen and (min-width: $screen-sm-min) {
            margin-left: 10px;
            &:first-child {
                margin-left: 0;
            }
        }
    }
}
.score-composite-link {
    img {
        display: inline-block;
        -webkit-transform: scale(0.5);
        -moz-transform: scale(0.5);
        -ms-transform: scale(0.5);
        transform: scale(0.5);
        margin-bottom: 0;
    }
    span {
        display: inline-block;
    }
    &.btn-back-to-top {
        color: white;
        font-size: 0.85em;
        text-transform: uppercase;
        border: none;
        background-color: transparent;
        text-align: center;
        &:hover {
            cursor: pointer;
        }
        @media only screen and (max-width: $screen-xs-max) {
            width: 35px;
            display: block;
            text-align: center;
        }
        @media only screen and (min-width: $screen-sm-min) {
            position: absolute;
            right: 0;
            bottom: 0;
        }
        img {
            display: block;
            width: 35px;
            margin-top: 5px;
            -webkit-transform: none;
            -moz-transform: none;
            -ms-transform: none;
            transform: none;
        }
    }
    &.btn-red {
        display: block;
        height: 40px;
        padding-top: 5px;
        padding-bottom: 10px;
        border: none;
        //background-color: $site-red;
        background-color: $site-navy;
        color: white;
        font-size: 1em;
        text-transform: uppercase;
        //-webkit-box-shadow: 0 3px 0 #86031e;
        //box-shadow: 0 3px 0 #86031e;
        -webkit-box-shadow: 0 3px 0 $site-navy;
        box-shadow: 0 3px 0 $site-navy;
        //text-align: center;
				// DMSR-555
        text-align: left;
        border-radius: 3px;
        @include vertical-space(15px);
        img {
            position: relative;
            top: -2px;
						// DMSR-555
            //margin-right: 9px;
            @media only screen and (min-width: $screen-md-min) and (max-width: $screen-md-max) {
                margin-right: 0;
								// DMSR-555
								margin-left: 9px;
            }
        }
        span {
            line-height: 32px;
        }
    }
    &.btn-blue-full-width {
        display: block;
        width: 100%;
        background-color: $site-blue;
        text-align: center;
        padding: 10px 0;
        font-size: 20px;
        font-weight: bold;
        color: white;
        text-transform: uppercase;
        @include vertical-space(45px);
    }
    &.btn-link {
        padding: 5px 0;
        //color: $site-red;
        color: $site-navy;
        font-size: 1em;
        text-align: left;
        span {
            text-decoration: underline;
        }
        &.white {
            color: white;
            &.no-td {
                font-weight: 300;
                span {
                    text-decoration: none;
                }
            }
        }
    }
}

.btn-group.bootstrap-select {
    @include button-menu-style;
    .btn {
        -webkit-box-shadow: none;
        box-shadow: none;
        &:focus {
            outline: none !important;
        }
    }
    .dropdown-menu {
        li, li a {
            &:focus {
                outline: none !important;
            }
        }
        a {
            &.subcategory {
                padding-left: 25px;
            }
        }
    }
}

.score-button-toolbar {
    @extend .btn-toolbar; //inherit bootstrap
    margin-left: 0;
}
.score-button-group {
    @extend .btn-group; //inherit bootstrap
}
.score-button-menu {
    @extend .btn-group; //inherit bootstrap
    .score-button-menu-item {

    }
    .score-menu-list-divider {

    }
}
.score-split-button-menu {
    @extend .btn-group; //inherit bootstrap
    .dropdown-toggle {
        @extend .btn; //inherit bootstrap
        @extend .btn-default; //inherit bootstrap
    }
    .dropdown-menu {
        .score-button-menu-item {

        }
        .score-menu-list-divider {

        }
    }
}
.score-image-button {
    display: block;
}
.bootstrap-select, .selectpicker {
    height: 30px;
}
.score-add-this-widget {
    height: 25px;
}