﻿.score-style-box {
    &.style-box-shadow {
        padding: 20px;
        border-radius: 3px;
        -webkit-box-shadow: 5px 5px 0 #b7b7b7;
        box-shadow: 5px 5px 0 #b7b7b7;
    }
    &.style-box-divider {
        padding-top: $vertical-spacing;
        border-top: 1px solid #979797;
        &.white {
            border-color: $site-light-gray;
            &:first-child {
                @media only screen and (min-width: $screen-sm-min) {
                    margin-left: -30px;
                }
            }
        }
    }
    &.sidebar {
        position: relative;
        padding: 30px 50px;
        @media only screen and (max-width: 399px) {
            padding: 15px;
        }
        @media only screen and (min-width: $screen-md-min) {
            margin-top: -30px;
        }
        @media only screen and (min-width: $screen-md-min) and (max-width: $screen-md-max) {
            padding-right: 0;
        }
        &::after {
            @media only screen and (min-width: $screen-md-min) {
                content: '';
                background-color: inherit;
                position: absolute;
                top: 0;
                bottom: 0;
                right: -999999px;
                width: 999999px;
            }
        }
    }
    &.padding {
        padding: 30px;
    }
}
.score-alert {
    @extend .btn; //inherit bootstrap
    @extend .btn-default; //inherit bootstrap
    @extend .alert; //inherit bootstrap
    @extend .alert-dismissable; //inherit bootstrap
    @include vertical-space($vertical-spacing);
}
.score-panel {
    @extend .panel; //inherit bootstrap
    @extend .panel-default; //inherit bootstrap
    @include vertical-space($vertical-spacing);
    .panel-heading {
        .panel-title {

        }
    }
    .panel-body {

    }
    .panel-footer {

    }
}
.score-well {
    @extend .well; //inherit bootstrap
    @include vertical-space($vertical-spacing);
}
.score-center-text {
    @extend .text-center; //inherit bootstrap
}
.score-right-text {
    @extend .text-right; //inherit bootstrap
}
.score-left-text {
    @extend .text-left; //inherit bootstrap
}
.modal-dialog {
    margin: 250px auto 30px auto;
}