.refer-patient-search {
  @include vertical-space($vertical-spacing);
  div[class^="score-column"].score-column2.equal, div[class*=" score-column"].score-column2.equal {
    & > .score-left {
      @media only screen and (max-width: $screen-xs-max) {
        border-bottom: 1px solid $site-light-gray;
        @include vertical-space($vertical-spacing);
      }
      @media only screen and (min-width: $screen-md-min) {
        padding-right: 30px;
      }
    }
    & > .score-right {
      @media only screen and (min-width: $screen-md-min) {
        padding-left: 30px;
        border-left: 1px solid $site-light-gray;
      }
    }
  }
  label {
    display: block;
    @include vertical-space(5px);
  }
  input {
    width: 100%;
    height: 30px;
    padding: 10px;
    border: 1px solid #c4c4c4;
    border-radius: 3px;
  }
  .bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
    width: 100%;
  }
  .dropdown-menu {
    width: 100% !important;
    overflow-x: hidden !important;
    a {
      white-space: pre-wrap;
    }
  }
  .bootstrap-select {
    button {
      text-transform: uppercase;
      white-space: pre-wrap;
      height: auto;
      min-height: 30px;
      max-height: 43px;
    }
  }
  .score-button {
    padding: 8px 30px;
    margin-top: 15px;
    @media only screen and (min-width: $screen-md-min) {
      margin-top: $vertical-spacing;
    }
  }
}

.refer-patient-results {
  @include vertical-space($vertical-spacing);
  .score-lead {
    @include vertical-space(5px);
    span {
        //color: $site-red;
        color: $site-navy;
    }
  }
  a {
    display: block;
    text-decoration: underline;
    @include vertical-space($vertical-spacing);
  }
  ul {
    padding: 0;
    list-style: none;
    li {
      @include vertical-space(20px);
      p {
        @include vertical-space(2px);
      }
    }
  }
}