﻿.carousel {
    // reserve space for carousel
    min-height: 350px;

    &.carousel-small {
        min-height: 250px;
    }
    &.carousel-with-bottom-text {
        min-height: 480px;
    }
    @include vertical-space(65px);

    &.carousel-red-arrows {
        .carousel-inner {
            & > .item {
                min-height: 340px;

                @media only screen and (min-width: 0) {
                    max-width: 75%;
                    margin: 0 auto;
                }

                @media only screen and (min-width: 540px) {
                    max-width: 85%;
                }

                @media only screen and (min-width: 810px) and (max-width: 869px) {
                    max-width: 95%;
                }

                @media only screen and (min-width: $screen-md-min) {
                    max-width: 90%;
                }

                @media only screen and (min-width: 1030px) and (max-width: 1089px) {
                    max-width: 95%;
                }

                @media only screen and (min-width: $screen-lg) {
                    max-width: 90%;
                }

                @media only screen and (min-width: 1230px) and (max-width: 1290px) {
                    max-width: 95%;
                }
            }
        }

        .score-highlight {
            @include vertical-space(0);
        }

        .carousel-indicators {
            display: none;
        }

        .carousel-control {
            &.left, &.right {
                width: 35px;
                height: 70px;
                top: 50%;
                margin-top: -35px;
                background-size: 14px;
                //background-color: $site-red;
                background-color: $site-navy;
            }

            &.left {
                @media only screen and (min-width: 0) {
                    left: -5px;
                }

                @media only screen and (min-width: 810px) {
                    left: -30px;
                }

                @media only screen and (min-width: 870px) and (max-width: $screen-sm-max) {
                    left: -60px;
                }

                @media only screen and (min-width: 1030px) {
                    left: -30px;
                }

                @media only screen and (min-width: 1090px) and (max-width: 1199px) {
                    left: -60px;
                }

                @media only screen and (min-width: 1230px) {
                    left: -30px;
                }

                @media only screen and (min-width: 1290px) {
                    left: -60px;
                }
            }

            &.right {
                @media only screen and (min-width: 0) {
                    right: -5px;
                }

                @media only screen and (min-width: 810px) {
                    right: -30px;
                }

                @media only screen and (min-width: 870px) and (max-width: $screen-sm-max) {
                    right: -60px;
                }

                @media only screen and (min-width: 1030px) {
                    right: -30px;
                }

                @media only screen and (min-width: 1090px) and (max-width: 1199px) {
                    right: -60px;
                }

                @media only screen and (min-width: 1230px) {
                    right: -30px;
                }

                @media only screen and (min-width: 1290px) {
                    right: -60px;
                }
            }
        }
    }
}

.carousel-inner {
    //fix for Flashing in Safari
    -webkit-transform-style: preserve-3d;

    & > .item {
        min-height: 480px;
    }
}

.carousel-indicators {
    bottom: -25px;
    @include vertical-space(0);

    li {
        border: none;
        margin: 0 5px;
        background-color: #d8d8d8;

        &.active {
            width: 10px;
            height: 10px;
            margin: 0 5px;
            //background-color: $site-red;
            background-color: $site-navy;
        }
    }
}

.carousel-control {
    opacity: 1;

    &.left, &.right {
        width: 30px;
        background-size: 20px;
        background-repeat: no-repeat;
        background-position: center center;
        @include animation-ease;

        @media only screen and (min-width: $screen-sm-min) {
            width: 60px;
        }

        .glyphicon {
            display: none;
        }

        &:hover {
            background-color: rgba(216,216,216,0.5);
        }
    }

    &.left {
        background-image: url(../img/prev_arrow_large.png);
    }

    &.right {
        background-image: url(../img/next_arrow_large.png);
    }
}

.score-carousel-pane {
    position: relative;

    .score-carousel-pane-body {
        @include container-fixed;

        @media (min-width: $screen-sm-min) {
            width: $container-sm;
        }

        @media (min-width: $screen-md-min) {
            width: $container-md;
        }

        @media (min-width: $screen-lg-min) {
            width: $container-lg;
        }

        height: 480px;
        padding: 130px 35px 0 35px;
    }

    &::after {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
    }

    .score-section-hero {
        position: relative;
        z-index: 10;

        @media only screen and (max-width: $screen-xs-max) {
            padding: 0 30px;
        }
    }

    &.carousel-pane-dark {
        &.gradient-left {
            &::after {
                background-image: -moz-linear-gradient(left, transparent 20%, rgba(0, 0, 0, 0.5) 100%);
                //background-image: -webkit-gradient(linear, right, left, color-stop(20%, transparent), color-stop(100%, rgba(0, 0, 0, 0.5)));
                background-image: -webkit-linear-gradient(right, transparent 20%, rgba(0, 0, 0, 0.5) 100%);
                background-image: -o-linear-gradient(left, transparent 20%, rgba(0, 0, 0, 0.5) 100%);
                background-image: -ms-linear-gradient(left, transparent 20%, rgba(0, 0, 0, 0.5) 100%);
                background-image: linear-gradient(to left, transparent 20%, rgba(0, 0, 0, 0.5) 100%);
            }
        }

        &.gradient-right {
            &::after {
                background-image: -moz-linear-gradient(right, transparent 20%, rgba(0, 0, 0, 0.5) 100%);
                //background-image: -webkit-gradient(linear, right, left, color-stop(20%, transparent), color-stop(100%, rgba(0, 0, 0, 0.5)));
                background-image: -webkit-linear-gradient(left, transparent 20%, rgba(0, 0, 0, 0.5) 100%);
                background-image: -o-linear-gradient(right, transparent 20%, rgba(0, 0, 0, 0.5) 100%);
                background-image: -ms-linear-gradient(right, transparent 20%, rgba(0, 0, 0, 0.5) 100%);
                background-image: linear-gradient(to right, transparent 20%, rgba(0, 0, 0, 0.5) 100%);
            }
        }

        .score-section-hero {
            position: relative;
            z-index: 2;

            h2, h3, .score-hero-body {
                color: white;
            }
        }
    }

    &.carousel-pane-light {
        &.gradient-left {
            &::after {
                background-image: -moz-linear-gradient(left, transparent 20%, rgba(255, 255, 255, 0.8) 100%);
                //background-image: -webkit-gradient(linear, right, left, color-stop(20%, transparent), color-stop(100%, rgba(0, 0, 0, 0.5)));
                background-image: -webkit-linear-gradient(right, transparent 20%, rgba(255, 255, 255, 0.8) 100%);
                background-image: -o-linear-gradient(left, transparent 20%, rgba(255, 255, 255, 0.8) 100%);
                background-image: -ms-linear-gradient(left, transparent 20%, rgba(255, 255, 255, 0.8) 100%);
                background-image: linear-gradient(to left, transparent 20%, rgba(255, 255, 255, 0.8) 100%);
            }
        }

        &.gradient-right {
            &::after {
                background-image: -moz-linear-gradient(right, transparent 20%, rgba(255, 255, 255, 0.8) 100%);
                //background-image: -webkit-gradient(linear, right, left, color-stop(20%, transparent), color-stop(100%, rgba(0, 0, 0, 0.5)));
                background-image: -webkit-linear-gradient(left, transparent 20%, rgba(255, 255, 255, 0.8) 100%);
                background-image: -o-linear-gradient(right, transparent 20%, rgba(255, 255, 255, 0.8) 100%);
                background-image: -ms-linear-gradient(right, transparent 20%, rgba(255, 255, 255, 0.8) 100%);
                background-image: linear-gradient(to right, transparent 20%, rgba(255, 255, 255, 0.8) 100%);
            }
        }

        .score-section-hero {
            position: relative;
            z-index: 2;

            h2, h3, .score-hero-body {
                color: $site-dark-gray;
                text-shadow: none;
            }
        }
    }

    &.photograph-fade {
        height: 340px;
        min-height: 340px;

        @media only screen and (min-width: $screen-md-min) {
            background-size: 948px 100%;
        }

        .score-carousel-pane-body {
            height: 340px;
        }

        &.gradient-left {
            &::after {
                background-image: -moz-linear-gradient(left, transparent 20%, #4a4a4a 948px);
                //background-image: -webkit-gradient(linear, right, left, color-stop(20%, transparent), color-stop(100%, rgba(0, 0, 0, 0.5)));
                background-image: -webkit-linear-gradient(right, transparent 20%, #4a4a4a 948px);
                background-image: -o-linear-gradient(left, transparent 20%, #4a4a4a 948px);
                background-image: -ms-linear-gradient(left, transparent 20%, #4a4a4a 948px);
                background-image: linear-gradient(to left, transparent 20%, #4a4a4a 948px);

                @media only screen and (max-width: $screen-sm-max) {
                    display: none;
                }
            }
        }

        &.gradient-right {
            &::after {
                background-image: -moz-linear-gradient(right, transparent 20%, #4a4a4a 948px);
                //background-image: -webkit-gradient(linear, right, left, color-stop(20%, transparent), color-stop(100%, rgba(0, 0, 0, 0.5)));
                background-image: -webkit-linear-gradient(left, transparent 20%, #4a4a4a 948px);
                background-image: -o-linear-gradient(right, transparent 20%, #4a4a4a 948px);
                background-image: -ms-linear-gradient(right, transparent 20%, #4a4a4a 948px);
                background-image: linear-gradient(to right, transparent 20%, #4a4a4a 948px);

                @media only screen and (max-width: $screen-sm-max) {
                    display: none;
                }
            }
        }

        .score-section-hero {
            @media only screen and (max-width: $screen-sm-max) {
                text-align: right;
            }

            @media only screen and (max-width: 699px) {
                margin-top: 100px;
                text-align: center;
            }
        }
    }

    &.block-gradient {
        &::after {
            @media only screen and (min-width: $screen-sm-min) {
                background-size: 50% 100%;
                background-repeat: no-repeat;
            }
        }

        &.gradient-left {
            &::after {
                background-image: -moz-linear-gradient(left, transparent 20%, rgba(0, 0, 0, 0.5) 100%);
                //background-image: -webkit-gradient(linear, right, left, color-stop(20%, transparent), color-stop(100%, rgba(0, 0, 0, 0.5)));
                background-image: -webkit-linear-gradient(right, transparent 20%, rgba(0, 0, 0, 0.5) 100%);
                background-image: -o-linear-gradient(left, transparent 20%, rgba(0, 0, 0, 0.5) 100%);
                background-image: -ms-linear-gradient(left, transparent 20%, rgba(0, 0, 0, 0.5) 100%);
                background-image: linear-gradient(to left, transparent 20%, rgba(0, 0, 0, 0.5) 100%);

                @media only screen and (min-width: $screen-sm-min) {
                    background-position: left;
                    background-image: -moz-linear-gradient(left, #4a4a4a 20%, #303030 100%);
                    //background-image: -webkit-gradient(linear, right, left, color-stop(20%, transparent), color-stop(100%, rgba(0, 0, 0, 0.5)));
                    background-image: -webkit-linear-gradient(right, #4a4a4a 20%, #303030 100%);
                    background-image: -o-linear-gradient(left, #4a4a4a 20%, #303030 100%);
                    background-image: -ms-linear-gradient(left, #4a4a4a 20%, #303030 100%);
                    background-image: linear-gradient(to left, #4a4a4a 20%, #303030 100%);
                }
            }
        }

        &.gradient-right {
            &::after {
                background-image: -moz-linear-gradient(right, transparent 20%, rgba(0, 0, 0, 0.5) 100%);
                //background-image: -webkit-gradient(linear, right, left, color-stop(20%, transparent), color-stop(100%, rgba(0, 0, 0, 0.5)));
                background-image: -webkit-linear-gradient(left, transparent 20%, rgba(0, 0, 0, 0.5) 100%);
                background-image: -o-linear-gradient(right, transparent 20%, rgba(0, 0, 0, 0.5) 100%);
                background-image: -ms-linear-gradient(right, transparent 20%, rgba(0, 0, 0, 0.5) 100%);
                background-image: linear-gradient(to right, transparent 20%, rgba(0, 0, 0, 0.5) 100%);

                @media only screen and (min-width: $screen-sm-min) {
                    background-position: right;
                    background-image: -moz-linear-gradient(right, #4a4a4a 20%, #303030 100%);
                    //background-image: -webkit-gradient(linear, right, left, color-stop(20%, transparent), color-stop(100%, rgba(0, 0, 0, 0.5)));
                    background-image: -webkit-linear-gradient(left, #4a4a4a 20%, #303030 100%);
                    background-image: -o-linear-gradient(right, #4a4a4a 20%, #303030 100%);
                    background-image: -ms-linear-gradient(right, #4a4a4a 20%, #303030 100%);
                    background-image: linear-gradient(to right, #4a4a4a 20%, #303030 100%);
                }
            }
        }
    }
}

.carousel-with-bottom-text {
    .score-style-box {
        position: absolute;
        z-index: 1;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 20px 60px;
        text-align: center;
        background-color: #818181;
        opacity: .8;

        .score-content-spot {
            margin-bottom: 0;

            .contentTitle {
                font-family: $site-font-sans-serif;
                font-weight: lighter;
                font-size: 28px;
                margin-bottom: 0;
                font-style: italic;
            }
        }

        .score-button {
            margin-bottom: 0;
            position: absolute;
            left: 60px;
            right: 60px;
            top: 0;
            bottom: 0;
            color: transparent !important;
            background-color: transparent;
            border-color: transparent;
            cursor: pointer;

            &:hover {
                background-color: transparent#fff;
                color: transparent !important;
            }
        }
    }
}
//fix for carousel slide effect in Safari
@media all and (transform-3d), (-webkit-transform-3d) {
    .carousel-inner > .item {
        -webkit-transition: -webkit-transform .6s ease-in-out;
        -o-transition: -o-transform .6s ease-in-out;
        transition: transform .6s ease-in-out;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        -webkit-perspective: 1000;
        perspective: 1000;
    }

    .carousel-inner > .item.next,
    .carousel-inner > .item.active.right {
        left: 0;
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
    }

    .carousel-inner > .item.prev,
    .carousel-inner > .item.active.left {
        left: 0;
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
    }

    .carousel-inner > .item.next.left,
    .carousel-inner > .item.prev.right,
    .carousel-inner > .item.active {
        left: 0;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}
