.score-content-spot {
    @include vertical-space($vertical-spacing);
    a {
        color: $site-navy !important; //override WFFM
				text-decoration: underline;
				&:hover {
					color: $site-navy;
				}
    }
    &.no-margin {
        @include vertical-space(0);
        p {
            @include vertical-space(0);
        }
    }
}