﻿ @using DeKalbMedical.Web.Areas.DeKalbMedical.Models.Locations
@using DeKalbMedical.Web.Extensions
@model LocationDetailsRenderingModel

@{
    var fullAddress = string.Concat(Model.Address1, " ", Model.Address2, " ", Model.City, " ", Model.State, " ", Model.City);
}
<div class="location-detail">
    <div class="score-document-header">
        <h1>@Html.Ternary(Model.LocationNameFieldName, Model.LocationName)</h1>
    </div>
    @Html.Ternary(Model.PhotoFieldName, Model.Photo)
    <h4>@Html.Ternary(Model.OfficeInformationFieldLabelName, Model.OfficeInformationLabel)</h4>
    <div class="location">
        <p>
            @Html.Ternary(Model.Address1FieldName, Model.Address1)<br/>
            @if (Sitecore.Context.PageMode.IsExperienceEditorEditing || !string.IsNullOrWhiteSpace(Model.Address2))
            {
                @Html.Ternary(Model.Address2FieldName, Model.Address2)<br/>
            }
            @Html.Ternary(Model.CityFieldName, Model.City),
            @Html.Sitecore().Field(Model.StateFieldName, new { Display = "Name" })
            @Html.Ternary(Model.ZipFieldName, Model.Zip)<br/>

            @Html.Ternary(Model.AdminPhoneLabelFieldName, Model.AdminPhoneLabel):
            @Html.Ternary(Model.AdminPhoneFieldName, Model.AdminPhone)<br/>

            @Html.Ternary(Model.AlternatePhoneLabelFieldName, Model.AlternatePhoneLabel):
            @Html.Ternary(Model.AlternatePhoneFieldName, Model.AlternatePhone)<br/>

            @if (Sitecore.Context.PageMode.IsExperienceEditorEditing || !string.IsNullOrWhiteSpace(Model.Address2))
            {
                @Html.Ternary(Model.FaxFieldLabelName, Model.FaxLabel)<text>:</text>
                @(Html.Ternary(Model.FaxFieldName, Model.Fax))
            }
        </p>
        @if (Sitecore.Context.PageMode.IsExperienceEditorEditing)
        {
            <div class="pe-editable-drop-down-block" style="display: block;">
                <ul>
                    <li>
                        @Html.PeField("Website label:", Model.WebsiteFieldLabelName)
                    </li>
                    <li>
                        @Html.PeField("Website link:", Model.WebsiteFieldName)
                    </li>
                    <li>
                        @Html.PeField("Directions Label:", Model.MapsAndDirectionsFieldLabelName)
                    </li>
                    <li>
                        @Html.PeField("Directions Url:", Model.DirectionUrlFieldName)
                    </li>
                    <li>
                        <p>Services:</p> @Html.Sitecore().Field(Model.ServicesFieldName, new {Display = "Name"})
                    </li>
                    <li>
                        <p>Geo location:</p> @Html.Sitecore().Field(Model.GeoLocationFieldName)
                    </li>
                </ul>
            </div>
        }
        else
        {
            if (!string.IsNullOrWhiteSpace(Model.Website))
            {
                <a href="@(Model.Website)">@(Model.WebsiteLabel)</a>
            }
            <a href="@(Model.DirectionsUrl)@(fullAddress)">@(Model.MapsDirectionsLabel)</a>
        }
        <h4>@Html.Ternary(Model.OfficeHoursFieldLabelName, Model.OfficeHoursLabel)</h4>
        <p>
            @Html.Sitecore().Field(Model.OfficeHoursFieldName)
        </p>
    </div>
</div>
