﻿@using DeKalbMedical.Data
@using DeKalbMedical.Web.Extensions
@using Score.UI.CCF
@model DeKalbMedical.Web.Areas.DeKalbMedical.Models.ReferralSearch.ReferralSearchResultsRenderingModel

@{
    bool isExpEtrWithDs = Model.HasDatasource && Sitecore.Context.PageMode.IsExperienceEditorEditing;
}

@if (!Model.HasDatasource && Sitecore.Context.PageMode.IsExperienceEditorEditing)
{
    <div class="error">
        WARNING: Referral Search Results component has no datasource!
    </div>
}
else
{
    using (Html.BeginUXModule("dekalbmedical/Components/ReferralSearchResults",
         new
         {
             perPage = Model.Datasource.ResultsPerPage,
             resultsErrorMessage = Model.Datasource.ResultsErrorMessage,
             isExpEditor = isExpEtrWithDs,
             serviceLabel = Model.Datasource.ServiceLabel,
             keywordLabel = Model.Datasource.KeywordLabel
         },
         new { @class = "score-component site-search-component " + Model.Classes }))
    {
        if (isExpEtrWithDs)
        {
            <a class="pe-editable-show-hide" href="javascript:void(0)">Show</a>
            <div class="pe-editable-drop-down-block">
                <ul>
                    <li>@Html.PeField("Found results per page", Consts.Fields.ResultsItemsPerPageField)</li>
                    <li>@Html.PeField("The message text for no results", Consts.Fields.ResultsErrorMessageField, null, " multiline")</li>

                    <li>@Html.PeField("The template for total results message", Consts.Fields.TotalResultsTemplateField, null, " multyline")</li>
                    <li>@Html.PeField("The template for pager", Consts.Fields.ResultsPagerTemplateField, null, " multyline")</li>
                    <li>@Html.PeField("The template for no results message", Consts.Fields.ResultsNoResultsTemplateField, null, " multyline")</li>

                    <li>@Html.PeField("The text for \"Return to Search Page\" link", Model.Datasource.ReturnToSearchPageLabelFieldName)</li>
                    <li>@Html.PeField("Service label", Model.Datasource.ServiceLabelFieldName)</li>
                    <li>@Html.PeField("Keyword label", Model.Datasource.KeywordLabelFieldName)</li>
                    <li>
                        <span class="label">Search page url:</span> <span class="pe-editable-field">@Html.Sitecore().Field(Model.Datasource.SearchPageFieldName, new { Display = "@relativepath" })</span>
                    </li>
                </ul>
            </div>
        }
        <div class="score-document-header">
            <h1>@Html.Ternary(Consts.Fields.ResultsTitleField, Model.Datasource.ResultsTitle)</h1>
        </div>

        <div class="refer-patient-results">
            <p id="searchCriteria" class="score-lead"></p>
            <a href="@Model.Datasource.SearchPageUrl">&laquo; @Html.Ternary(Model.Datasource.ReturnToSearchPageLabelFieldName, Model.Datasource.ReturnToSearchPageLabel)</a>

            <div id="pager" class="pagination"></div>

            <script type="text/template" id="site-search-pager-template">
                @Html.Sitecore().Field(Consts.Fields.ResultsPagerTemplateField)
            </script>
            <script type="text/template" id="site-search-noresults-template">
                @Html.Sitecore().Field(Consts.Fields.ResultsNoResultsTemplateField)
            </script>
            <script type="text/template" id="total-results-template">
                @Html.Sitecore().Field(Consts.Fields.TotalResultsTemplateField)
            </script>
        </div>

        <script type="text/template" id="referral-search-template">
            <div class="result">
                <% _.each( items , function( item ){ %>
                <p class="score-lead"><%- item.ServiceOrSpecialtyName %></p>

                <ul><%= getFormattedString(item.ContactInformation) %></ul>
                
                <% if(!_.isNull(item.ComprehensiveServices) && item.ComprehensiveServices != "") { %>
                <p><strong>@Html.Ternary(Model.Datasource.ComprehensiveServicesLabelFieldName, Model.Datasource.ComprehensiveServicesLabel)</strong></p>
                <p><%= item.ComprehensiveServices.replace(/\r\n/g, "<br />").replace(/\n/g, "<br />") %></p>
                <% } %>

                <% }); %>

            </div>
        </script>
    }
}