﻿@using DeKalbMedical.Web.Extensions
@using Score.UI.CCF

@model DeKalbMedical.Web.Areas.DeKalbMedical.Models.ReferralSearch.ReferralSearchRenderingModel

@if (!Model.HasDatasource && Sitecore.Context.PageMode.IsExperienceEditorEditing)
{
    <div class="error">
        Warning: 'Referral Search' component has no datasource
    </div>
}
else
{
    using (Html.BeginUXModule("dekalbmedical/Components/ReferralSearch", new
    {
        url = Model.Datasource.SearchUrl
    }))
    {
        if (Model.HasDatasource && Sitecore.Context.PageMode.IsExperienceEditorEditing)
        {
            <a class="pe-editable-show-hide" href="javascript:void(0)">Show</a>
            <div class="pe-editable-drop-down-block">
                <ul>
                    <li>
                        <span class="label">Search url:</span> <span class="pe-editable-field">@Html.Sitecore().Field(Model.Datasource.SearchResultsUrlField, new {Display = "@relativepath"})</span>
                    </li>
                </ul>
            </div>
        }

        <div class="refer-patient-search">
            <div class="score-column2 equal">
                <div class="score-left">
                    <label for="service">@Html.Ternary(Model.Datasource.SearchByLabelFieldName, Model.Datasource.SearchByLabel)</label>
                    @Html.CustomTernaryDropDown(Model.Datasource.SelectServiceLabelFieldName, "service", Model.Datasource.SelectServiceLabel, Model.Datasource.Services, new { id = "service", @class = "selectpicker" })
                    <div id="serviceCriteriaError" class="@(Sitecore.Context.PageMode.IsExperienceEditorEditing ? "" : "error-block")" style="@(Sitecore.Context.PageMode.IsExperienceEditorEditing ? "" : "display:none")">
                        <span>@Html.Ternary(Model.Datasource.SelectServiceFieldName, Model.Datasource.SelectService)</span>
                    </div>
                    <a href="#" class="score-button btn-gray">@Html.Ternary(Model.Datasource.SearchServiceButtonLabelFieldName, Model.Datasource.SearchServiceButtonLabel)</a>
                </div>
                <div class="score-right">
                    <label for="keyword">@Html.Ternary(Model.Datasource.KeywordLabelFieldName, Model.Datasource.KeywordLabel)</label>
                    @Html.TernaryInputText(Model.Datasource.KeywordPlaceholderTextFieldName, "keyword", new
                    {
                        name = "keyword", @maxlength = "100", placeholder = Model.Datasource.KeywordPlaceholderText
                    })

                    <div id="keywordCriteriaError" class="@(Sitecore.Context.PageMode.IsExperienceEditorEditing ? "" : "error-block")" style="@(Sitecore.Context.PageMode.IsExperienceEditorEditing ? "" : "display:none")">
                        <span>@Html.Ternary(Model.Datasource.EnterKeywordFieldName, Model.Datasource.EnterKeyword)</span>
                    </div>
                    <a href="#" class="score-button btn-gray">@Html.Ternary(Model.Datasource.SearchKeywordButtonLabelFieldName, Model.Datasource.SearchKeywordButtonLabel)</a>
                </div>
            </div>
        </div>
    }
}
