﻿@using Score.UI.Data.DatasourceItems
@using Sitecore.Form.Core.Configuration
@model DeKalbMedical.Web.Areas.DeKalbMedical.Models.Content.Button.ImageButtonRenderingModel

@if (Sitecore.Context.PageMode.IsExperienceEditorEditing)
{
    <div class="@Model.Classes">
        <div class="@ScoreStyles.EditField">
            @Html.Sitecore().Field(
            ImageLinkItem.ImageFieldName,
            new
            {
                maxWidth = 300,
                maxHeight = 300,
                @class = Model.RenderingParameters.ImageClass + " " + Model.ResponsiveClass
            })
        </div>

        <span class="@ScoreStyles.EditField">
            <label>@Html.Raw(Translate.Text("Link")):</label>@Html.Sitecore().Field(ImageLinkItem.LinkFieldName)
        </span>
    </div>
}
else if (Model.HasDatasource)
{
    <a class="@Model.Classes" @Model.GetButtonLink()>
        @Html.Sitecore().Field(
            ImageLinkItem.ImageFieldName,
            new
            {
                @class = Model.RenderingParameters.ImageClass + " " + Model.ResponsiveClass,
                HideSize = Model.RenderingParameters.IsResponsive
            })
    </a>
}
